<header>
    <div>
        <div class="whole-header">
            <div class="big-right-header">
                <div class="title-div">
                    <h2 class="title">
                        {{publicservice.Texts.Texts["header1"]}}</h2>
                </div>
                <div class="right-header">
                    <div class="right-button">
                        <button mat-button class="normal-button">{{publicservice.Texts.Texts["header2"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button class="normal-button">{{publicservice.Texts.Texts["header3"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button class="normal-button">{{publicservice.Texts.Texts["header4"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button class="normal-button">{{publicservice.Texts.Texts["header5"]}}</button>
                    </div>
                </div>
            </div>
            <div class="left-header" >
                <div class="before-login" *ngIf="!publicservice.logedIn">
                    <div class="left-button">
                        <button mat-button (click)="login()"
                            class="normal-button">{{publicservice.Texts.Texts["header6"]}}</button>
                    </div>
                    <div>
                        <button mat-flat-button (click)="Signup()"
                            class="green-button">{{publicservice.Texts.Texts["header7"]}}</button>
                    </div>
                </div>
                <div class="after-login" *ngIf="publicservice.logedIn">
                    <div class="left-button">
                        <button mat-button (click)="logOut()"
                            class="normal-button">{{publicservice.Texts.Texts["header8"]}}</button>
                    </div>
                    <div class="left-button">
                        <button mat-button class="normal-button">{{publicservice.Texts.Texts["header10"]}}</button>
                    </div>

                    <div>
                        <button mat-flat-button class="green-button"
                            (click)="Dashboard()">{{publicservice.Texts.Texts["header9"]}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>