.green-button{
    font-family: 'Estedad-Bold';
    color: #52006b;
    background-color:#6af9c5;
    border-radius: 24px;
    padding: 11px 16px;
    font-size: large;
}
.normal-button{
    font-family: 'Estedad-Bold';
    font-size: large;
    color: white;
    padding: 9px 16px 9px 16px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0);
}
.title{
    font-family: 'Estedad-Black';
    color: #a04db9;
}
.right-header{
    display: flex;
    margin-right: 100px;
    margin-top: 20px;
}
.right-button{
    margin: 0 5% 0 0;
}
.left-button{
    margin: 0 0 0 5%;
}
.before-login{
    display: flex;
}
.after-login{
    display: flex;
}
.left-header{
    display: flex;margin-left: 50px;margin-top: 20px;
}
.title-div{
    margin-right: 50px;
}
.big-right-header{
    display: flex;
}
.whole-header{
    direction: rtl;
    margin: 0 10px 10px 10px;
    justify-content: space-between;
    display: flex;
}