.error-div{
    width: 100%;
    direction: rtl;
    display: flex;
    text-align: right;
    background-color: green;
    border-radius: 15px;
    padding-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.error-icon{
    color: white;
    position: absolute;
    margin-top: 17px;
}
.error-message{
    margin-right: 30px;
    font-family: 'Estedad-Regular';
    color: white;
}
