.title, .content {
  color: #E8E7FF;
  text-align: right;
}

.title {
  font-size: xx-large;
  font-family: "Estedad-Black", sans-serif;
}

.content {
  font-size: medium;
  line-height: 200%;
  font-family: "Estedad-Regular", sans-serif;
  .link {
    text-decoration: none;
  }
}

.button {
  color: #E8E7FF;
  font-family: "Estedad-Regular", sans-serif;
}


.game-dialog {
  width: 600px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media only screen and (max-width: 992px) {
  .game-dialog {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.golden-icon{
  color: #FFD700;
}


.gray-icon {
  color: #909090;
}


textarea {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: #FFFFFF;

  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: solid;
  border-width: 1px;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  transition: background-color 0.2s ease 0s;
  resize: none;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    color:rgb(25, 20, 20);
    outline-width: 0;
}

textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

textarea:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(25, 20, 20);
  opacity: 1; /* Firefox */
}


.fav-icon {

}

.fav-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}