<div class="people" id="rules">
    <header style="position: fixed;width: 100%;background-color: #34334B;z-index: 100;">
        <div class="whole-header" [class]="getNavClass()">
            <div class="big-right-header">
                <div class="title-div">
                    <div class="logo" (click)="Home()">
                        <img class="logo-image" src="assets/svg/dark-3d.svg">
                    </div>
                </div>
                <div class="right-header">
                    <div class="right-button">
                        <button mat-button class="normal-button"
                            (click)="Schedule()">{{publicservice.Texts.Texts["header2"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="Rules()" id="rules-button"
                            class="normal-button">{{publicservice.Texts.Texts["header11"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="Workshop()"
                            class="normal-button">{{publicservice.Texts.Texts["header3"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="Talk()"
                            class="normal-button">{{publicservice.Texts.Texts["header4"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button class="normal-button" (click)="Games()"
                                id="people-button">{{publicservice.Texts.Texts["header14"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="Footer(footer)"
                            class="normal-button">{{publicservice.Texts.Texts["header5"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="People()" class="normal-button"
                            id="people-button">{{publicservice.Texts.Texts["header12"]}}</button>
                    </div>
                </div>
            </div>
            <div class="left-header">
                <div class="left-header-line"></div>
                <div class="before-login" *ngIf="!publicservice.logedIn">
                    <div class="left-button">
                        <button mat-button (click)="login()"
                            class="normal-button">{{publicservice.Texts.Texts["header6"]}}</button>
                    </div>
                    <div>
                        <button mat-flat-button (click)="Signup()"
                            class="green-button">{{publicservice.Texts.Texts["header7"]}}</button>
                    </div>
                </div>
                <div class="after-login" *ngIf="publicservice.logedIn">
                    <div class="left-button">
                        <button mat-button [disabled]="true" class="normal-button">{{userName}}</button>
                    </div>

                    <div>
                        <button mat-flat-button class="green-button"
                            (click)="Dashboard()">{{publicservice.Texts.Texts["header9"]}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="whole-header-phone">
            <button mat-button (click)=" onPress();icon =(icon == 'menu' ? 'close' : 'menu')">
                <mat-icon style="color: white;font-size: 32px;" [inline]="true">{{icon}}</mat-icon>
            </button>
            <div class="logo" routerLink="home" (click)="Home()">
                <img class="logo-image" src="assets/svg/dark-3d.svg">
            </div>
        </div>
        <div *ngIf="display">
            <mat-sidenav-container class="example-sidenav-container">
                <!-- <mat-sidenav #snav >

        </mat-sidenav> -->

                <mat-sidenav-content class="side-route">
                    <mat-divider class="side-divider"></mat-divider>
                    <div class="side-button-1">
                        <div *ngIf="!publicservice.logedIn">
                            <button mat-button (click)="login()"
                                class="normal-button">{{publicservice.Texts.Texts["header6"]}}</button>
                            <button mat-flat-button (click)="Signup()"
                                class="normal-button-1">{{publicservice.Texts.Texts["header7"]}}</button>
                        </div>
                        <div *ngIf="publicservice.logedIn">
                            <div class="left-button">
                                <button mat-button [disabled]="true" class="normal-button">{{userName}}</button>

                                <button mat-flat-button class="normal-button-1"
                                    (click)="Dashboard()">{{publicservice.Texts.Texts["header9"]}}</button>
                            </div>


                        </div>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>

                    <div class="side-button">
                        <button mat-button class="normal-button"
                            (click)="Schedule(schedule)">{{publicservice.Texts.Texts["header2"]}}</button>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>
                    <div class="side-button">
                        <button mat-button (click)="Rules()"
                            class="normal-button">{{publicservice.Texts.Texts["header11"]}}</button>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>
                    <div class="side-button">
                        <button mat-button (click)="Workshop(workshop)"
                            class="normal-button">{{publicservice.Texts.Texts["header3"]}}</button>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>
                    <div class="side-button">
                        <button mat-button (click)="Talk(talk)"
                            class="normal-button">{{publicservice.Texts.Texts["header4"]}}</button>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>
                    <div class="side-button">
                        <button mat-button (click)="Games()"
                                class="normal-button">{{publicservice.Texts.Texts["header14"]}}</button>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>
                    <div class="side-button">
                        <button mat-button (click)="Talk(footer)"
                            class="normal-button">{{publicservice.Texts.Texts["header5"]}}</button>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>
                    <div class="side-button">
                        <button mat-button (click)="People()"
                            class="normal-button">{{publicservice.Texts.Texts["header12"]}}</button>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>



                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </header>
    <div class="introduction-div" dir="rtl">
        <div class="white-part">
            <div class="inside-white-part">
                <h1 class="rules-title">{{publicservice.Texts.Texts['rules1']}}</h1>
                <h1 class="rules-subtitle2" style="text-align: center;">
                    تم مسابقه به‌هنگام شروع مسابقه اعلام خواهد شد.</h1>
                <h1 class="rules-subtitle1">چگونه در مسابقه شرکت کنیم؟</h1>
                <p class="text">
                    برای ثبت‌نام، ابتدا باید در سایت رویداد حساب­ ­­کاربری بسازید و سپس تیم خود را در قسمت داشبورد تکمیل کنید.
                    برای پیدا کردن هم‌تیمی و مطلع شدن از آخرین اخبار مسابقه، حتماً در 
                    <!-- <a href="https://discord.gg/SpUZ89KKbn">سرور دیسکورد</a> و  -->
                    <a href="https://t.me/AUTGamecraft">کانال تلگرام</a> رویداد
                    عضو شوید.</p>
                <h1 class="rules-subtitle1">قوانین مسابقه</h1>
                <p class="text">
                    1. بازی شما باید در بازه‌ی زمانی مسابقه ساخته شده باشد، ولی می‌توانید از کد‌های ساده‌ای که قبلاً زده اید
                    در مسیر ساخت بازی استفاده کنید.<br>
                    2.هیچ محدودیتی در استفاده از موتور‌ بازی‌سازی و تکنولوژی‌هایی که استفاده می‌کنید، وجود ندارد.<br>
                    3. کپی‌رایت را رعایت کنید.<br>
                    4. تعداد افراد تیم ها از 2 تا 5 نفر می تواند متغیر باشد.<br>
                    5.  لینک دانلود فایل بازی، تصویری از محیط بازی به عنوان آواتار بازی ، به همراه فیلمی کوتاه از بازی (اختیاری ) را در تب "بازی" داشبورد قرار دهید (این قسمت از داشبورد در زمان مجاز فعال خواهد شد)<br>
                    6. در محتوای بازی موازین اخلاقی باید رعایت شده باشد.<br>
                    7.  😉از بازی ساختن لذت ببرید!</p>
                <h1 class="rules-subtitle1">داوری و جوایز</h1>
                <p class="text">بعد از اتمام مسابقه داوری بازی‌ها شروع می‌شود و در آذر ماه و در مراسم
                    اختتامیه،‌ برندگان مسابقه اعلام می شوند (جزئیات اختتامیه متعاقبا از طریق کانال های اطلاع رسانی اعلام خواهند شد)
                    <br>
                    علاوه بر سه تیم برتر، تیمی که بیشترین رای از نظر مردم را دارا باشد، به عنوان تیم برگزیده مردمی اعلام خواهد شد.</p>
                <h1 class="rules-subtitle2">معیارهای داوری</h1>
                <p class="text">وفادار بودن به تم مسابقه<br>
                    قابل بازی بودن (گیم‌پلی)<br>
                    طراحی بازی و مراحل<br>
                    کیفیت بصری<br>
                    کیفیت انیمیشن و حرکات<br>
                   همخوانی آرت استایل با موضوع بازی<br>
                    جذابیت داشتن بازی برای بازی مجدد<br>
                    کنترل نرم و راحت<br>
                    قابلیت رقابت در مارکت<br>
                    تطابق با ترند<br>
                    فان بودن</p>
                    <h1 class="rules-subtitle2">جوایز مسابقه</h1>
                    <p class="text">تیم اول: 9 میلیون تومان<br>
                      تیم دوم: 6 میلیون تومان<br>
                      تیم سوم: 3 میلیون تومان<br>
                      تیم برنده داوری مردمی: 1 و نیم میلیون تومان<br>
                      <!-- و اعتبار 100 میلیون ریالی استفاده از سرویس ابری ایران سرور برای هر تیم -->
                      و تیشرت با طرح گیم کرفت برای شرکت کنندگان
                    </p>

                </div>
                <!-- <div>
                <h1 class="rules-subtitle2">راه های ارتباطی </h1>
                <p class="text">در صورت بروز هرگونه سوال از روند مسابقه می توانید از طریق راه های ارتباطی زیر با ما در ارتباط باشید :<br>
                  <!-- <a href="https://discord.gg/SpUZ89KKbn">سرور دیسکورد</a><br> -->
                  <!-- <a href="https://t.me/Gamecraft_support">ادمین پشتیبانی تلگرام</a></p> -->
                <!-- </div> -->
        </div>
    </div>
    <div class="footer-whole-div" #footer>
        <div>
            <img class="purple-wave-above-footer" src="assets/svg/wave-purple.svg">
        </div>
        <div class="footer-div">
            <div class="discription-footer-div">
                <div class="discription-right-footer-div">
                    <div class="discription-right-footer-about-div">
                        <h1 class="discription-right-footer-about-title">
                            {{publicservice.Texts.Texts["home37"]}}</h1>
                        <p class="discription-right-footer-about-discription">
                            {{publicservice.Texts.Texts["home39"]}}
                            <br>
                            {{publicservice.Texts.Texts["home62"]}}
                        </p>
                        <div style="text-align: center;">
                            <button mat-flat-button (click)="People()" class="green-button"
                                style="margin: 0 auto;">{{publicservice.Texts.Texts["home47"]}}</button>
                            <div class="footer-image-div-phone">
                                <img class="footer-image" src="assets/images/folan.png">
                            </div>
                        </div>
                    </div>
                    <div class="discription-right-footer-bubble">
                    </div>
                </div>
                <div class="footer-image-div">
                    <img class="footer-image" src="assets/images/folan.png">
                </div>
            </div>
            <div class="supporters-div">
                <h1 class="supporters-title">
                    {{publicservice.Texts.Texts["home40"]}}
                </h1>
                <div class="supporters-card-div">
                    <!-- <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/institue.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/funtory.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/tod.png">
                    </div> -->
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/dropout.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/medrick-logo.png">
                    </div>
                </div>
                <!-- <div class="supporters-card-div">
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/avngames.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/brainladder.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/IranServer.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/black-cube.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/myket.png">
                    </div>
                </div> -->
            </div>

        </div>
    </div>
</div>
<div class="developers-div">
    <div class="developers-image">
        <!-- <img class="ssc-image" src="assets/images/Asset 4.png"> -->
        <img class="ssc-image" src="assets/images/ssc_white.png">
    </div>
    <p class="developers">{{publicservice.Texts.Texts["home42"]}}</p>
</div>
