.whole-header {
    direction: rtl;
    margin: 0 10px 10px 10px;
    justify-content: space-between;
    display: flex;
}
.big-right-header {
    display: flex;
}
.title-div {
    margin-right: 50px;
}
.title {
    font-family: "Estedad-Black";
    color: #a04db9;
}
.header-line {
    width: 0;
    height: 48px;
    margin: 20px 40px 5px 0;
    border: solid 1.5px #a04db9 !important;
    background-color: #a04db9;
    border-radius: 20px;
}
.right-header {
    display: flex;
    margin-right: 50px;
    margin-top: 20px;
}
.right-button {
    margin: 0 5% 0 0;
}
.normal-button {
    font-family: "Estedad-Bold";
    font-size: large;
    color: white;
    padding: 9px 9px 9px 9px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0);
}
.left-header {
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
}
.left-header-line {
    width: 0;
    height: 48px;
    margin-left: 15px;
    border: solid 1.5px #a04db9 !important;
    background-color: #a04db9;
    border-radius: 20px;
}
.before-login {
    display: flex;
}
.left-button {
    margin: 0 0 0 5%;
}
.green-button {
    font-family: "Estedad-Bold";
    color: #52006b;
    background-color: #6af9c5;
    border-radius: 24px;
    padding: 11px 16px;
    font-size: large;
}
.after-login {
    display: flex;
}
.people {
    background-color: #52006b;
    padding-bottom: 100px;
    height: fit-content;
}
.introduction-div {
    background-image: url("/assets/svg/pattern.svg");
    padding: 60px 70px 60px 70px;
    height: fit-content;
    padding-top: 10%;
}
.white-part {
    background-color: #fafafa;
    border-radius: 16px;
    height: fit-content;
    padding: 0.5px;
    padding-right: 95px;
    padding-left: 95px;
    margin-bottom: 15%;
    padding-bottom:74px ;
}
.people-title {
    font-family: "Estedad-Black";
    color: #52006b;
    text-align: center;
    font-size: 36px;
}
.people-subtitle {
    font-family: "Estedad-Bold";
    color: #00b583;
    text-align: center;
    font-size: 28px;
}
.collapse-presenters-card-div {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}
.collapse-presenters-card {
    direction: rtl;
    text-align: center;
    background-color: white;
    border-radius: 24px;
    border: solid 2px #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.collapse-presenters-image {
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
    padding: 20px;
}
.collapse-presenters-name {
    font-family: "Estedad-Black";
    color: #52006b;
    margin-bottom: 0;
    font-size: medium;
}
.collapse-presenters-discription {
    font-family: "Estedad-Regular";
    color: #a04db9;
    margin-top: 0;
}
#rules-button {
    border-radius: 24px;
    border: solid 2px #07f49e !important;
}
.footer-whole-div {
    margin-top: -15%;
}
.purple-wave-above-footer {
    // background-image: url("/assets/svg/wave-purple.svg");
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    transform: scaleY(-1);
    width: 100%;
    // height: 210px;
    // position: relative;
    // z-index: 1;
    // margin-top: -60px;
}
.footer-div {
    background-color: #52006b;
    padding-top: 100px;
    margin-top: -100px;
}
.discription-footer-div {
    direction: rtl;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.discription-right-footer-div {
    width: 50%;
    margin-right: 10%;
    position: relative;
    direction: rtl;
}
.discription-right-footer-about-div {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    z-index: 1;
}
.discription-right-footer-about-title {
    font-family: "Estedad-Black";
    font-size: xxx-large;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}
.discription-right-footer-about-subtitle {
    font-family: "Estedad-Bold";
    color: white;
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: 0;
}
.discription-right-footer-about-discription {
    font-family: "Estedad-Regular";
    color: white;
    font-size: large;
    margin-top: 0;
}
.discription-right-footer-bubble {
    position: absolute;
    background-image: url("/assets/svg/bubble-purple.svg");
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: scaleX(-1);
    z-index: 0;
}
.footer-image-div {
    margin-left: 10%;
}
.footer-image {
    height: 320px;
    width: 360px;
    object-fit: cover;
    border-radius: 36px;
}
.supporters-title {
    font-family: "Estedad-Black";
    font-size: xxx-large;
    color: white;
    text-align: center;
}
.supporters-card-div {
    text-align: center;
    display: flex;
    justify-content: center;
}
.supportes-card-image-div {
    margin: 20px;
}
.supporters-card-image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    object-fit: cover;
}
.supportes-card-name {
    font-family: "Estedad-Bold";
    color: white;
    font-size: large;
}
.developers-div {
    background-color: #77009b;
    text-align: center;
    padding: 10px;
}
.developers {
    color: white;
    margin: 0;
    font-family: "Estedad-SemiBold";
}
//start of logo
.logo{
    padding-top: 20px;
    justify-content: center;
    display: flex;
    direction: rtl;
}
.logo-image{
    width: 100.8px;
    z-index: 1;
}
.logo-text{
    font-family: 'Estedad-Black';
    color: #a04db9;
    font-size: 24px;
    z-index: 0;
}
//end of logo
.rules-title{
    text-align: center;
    font-family: 'Estedad-Black';
    color: #52006b;
    font-size: 36px;
}
.rules-subtitle1{
    text-align: right;
    font-family: 'Estedad-Black';
    color: #00b583;
    font-size:40px;
    margin-bottom: 0;
}
.text{
    direction: rtl;
    text-align: right;
    font-family: 'Estedad-Medium';
    font-size: 20px;
    color: #52006b;
    font-weight: 500;
    margin-top: 0;
}
.rules-subtitle2{
    text-align: right;
    font-family: 'Estedad-Black';
    color: #77009b;
    font-size: 28px;
    margin-bottom: 0;
}
@media only screen and (max-width: 992px){
    .whole-header{
        display: none;
    }
    .introduction-div{
        padding: 24px;
    }
    .white-part{
        padding: 20px 36px 20px 36px;
    }
    .rules-title{
        font-size: 36px;
    }
    .rules-subtitle1{
        font-size: 40px;
    }
    .text{
        font-size: 20px;
    }
    .rules-subtitle2{
        font-size: 28px;
    }
    .footer-whole-div{
        margin-top: -20%;
    }
    .discription-footer-div {
        flex-direction: column;
        justify-content: initial;
        justify-content: center;
    }
    .footer-image {
        width: 360px;
        height: 320px;
    }
    .discription-right-footer-div {
        padding: 38%;
        margin: 0 auto;
        margin-bottom: 70%;
        padding-right: 36px;
        padding-left: 36px;
    }
    .footer-image-div {
        text-align: center;
        margin-left: 0;
        margin-top: 200px;
    }
    .discription-right-footer-about-div {
        float: none;
    }
    .discription-right-footer-about-title {
        font-size: 40px;
    }
    .discription-right-footer-about-subtitle {
        font-size: 28px;
    }
    .discription-right-footer-about-discription{
        font-size: 20px;
    }
}