<div class="people">
    <header>
        <div>
            <div class="whole-header">
                <div class="big-right-header">
                    <div class="title-div">
                        <div class="logo">
                            <img class="logo-image" src="assets/svg/dark-3d.svg">
                        </div>
                    </div>
                    <div class="right-header">
                        <div class="right-button">
                            <button mat-button class="normal-button"
                                (click)="Schedule()">{{publicservice.Texts.Texts["header2"]}}</button>
                        </div>
                        <div class="right-button">
                            <button mat-button (click)="Rules()" id="rules-button"
                                class="normal-button">{{publicservice.Texts.Texts["header11"]}}</button>
                        </div>
                        <div class="right-button">
                            <button mat-button (click)="Workshop()"
                                class="normal-button">{{publicservice.Texts.Texts["header3"]}}</button>
                        </div>
                        <div class="right-button">
                            <button mat-button (click)="Talk()"
                                class="normal-button">{{publicservice.Texts.Texts["header4"]}}</button>
                        </div>
                        <div class="right-button">
                            <button mat-button
                                class="normal-button">{{publicservice.Texts.Texts["header5"]}}</button>
                        </div>
                        <div class="right-button">
                            <button mat-button (click)="People()"
                                class="normal-button" id="people-button">{{publicservice.Texts.Texts["header12"]}}</button>
                        </div>
                    </div>
                </div>
                <div class="left-header">
                    <div class="left-header-line"></div>
                    <div class="before-login" *ngIf="!publicservice.logedIn">
                        <div class="left-button">
                            <button mat-button (click)="login()"
                                class="normal-button">{{publicservice.Texts.Texts["header6"]}}</button>
                        </div>
                        <div>
                            <button mat-flat-button (click)="Signup()"
                                class="green-button">{{publicservice.Texts.Texts["header7"]}}</button>
                        </div>
                    </div>
                    <div class="after-login" *ngIf="publicservice.logedIn">
                        <div class="left-button">
                            <button mat-button
                                class="normal-button">{{publicservice.Texts.Texts["header10"]}}</button>
                        </div>

                        <div>
                            <button mat-flat-button class="green-button"
                                (click)="Dashboard()">{{publicservice.Texts.Texts["header9"]}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="introduction-div">
        <div class="white-part">
            <div class="inside-white-part">
                <h1 class="rules-title">{{publicservice.Texts.Texts['rules1']}}</h1>
                <h1 class="rules-subtitle1">{{publicservice.Texts.Texts['rules2']}}</h1>
                <p class="text">{{publicservice.Texts.Texts['rules3']}}</p>
                <h1 class="rules-subtitle2">{{publicservice.Texts.Texts['rules4']}}</h1>
                <p class="text">{{publicservice.Texts.Texts['rules5']}}</p>
                <h1 class="rules-subtitle1">{{publicservice.Texts.Texts['rules2']}}</h1>
                <p class="text">{{publicservice.Texts.Texts['rules3']}}</p>
                <h1 class="rules-subtitle2">{{publicservice.Texts.Texts['rules4']}}</h1>
                <p class="text">{{publicservice.Texts.Texts['rules5']}}</p>
            </div>
        </div>
    </div>
       <div class="footer-whole-div">
        <div class="purple-wave-above-footer">
        </div>
        <div class="footer-div">
            <div class="discription-footer-div">
                <div class="discription-right-footer-div" >
                    <div class="discription-right-footer-about-div">
                        <h1 class="discription-right-footer-about-title">
                            {{publicservice.Texts.Texts["home37"]}}</h1>
                        <h3 class="discription-right-footer-about-subtitle">
                            {{publicservice.Texts.Texts["home38"]}}</h3>
                        <p class="discription-right-footer-about-discription">
                            {{publicservice.Texts.Texts["home39"]}}</p>
                            <div style="text-align: center;">
                                <button mat-flat-button class="green-button" style="margin: 0 auto;">{{publicservice.Texts.Texts["home47"]}}</button>
                            </div>
                    </div>
                    <div class="discription-right-footer-bubble">
                    </div>
                </div>
                <div class="footer-image-div">
                    <img class="footer-image" src="assets/images/masoud.jpg">
                </div>
            </div>
            <div>
                <h1 class="supporters-title">
                    {{publicservice.Texts.Texts["home40"]}}
                </h1>
            </div>
            <div class="supporters-card-div">
                <div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/masoud.jpg">
                    </div>
                    <p class="supportes-card-name">
                        {{publicservice.Texts.Texts["home41"]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="developers-div">
    <p class="developers">{{publicservice.Texts.Texts["home42"]}}</p>
</div>