<div class="people" id="rules">
    <header style="position: fixed;width: 100%;background-color: #52006b;z-index: 100;">
        <div class="whole-header" [class]="getNavClass()">
            <div class="big-right-header">
                <div class="title-div">
                    <div class="logo" (click)="Home()">
                        <img class="logo-image" src="assets/svg/dark-3d.svg">
                    </div>
                </div>
                <div class="right-header">
                    <div class="right-button">
                        <button mat-button class="normal-button"
                            (click)="Schedule()">{{publicservice.Texts.Texts["header2"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="Rules()" id="rules-button"
                            class="normal-button">{{publicservice.Texts.Texts["header11"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="Workshop()"
                            class="normal-button">{{publicservice.Texts.Texts["header3"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="Talk()"
                            class="normal-button">{{publicservice.Texts.Texts["header4"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="Footer(footer)"
                            class="normal-button">{{publicservice.Texts.Texts["header5"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="People()" class="normal-button"
                            id="people-button">{{publicservice.Texts.Texts["header12"]}}</button>
                    </div>
                </div>
            </div>
            <div class="left-header">
                <div class="left-header-line"></div>
                <div class="before-login" *ngIf="!publicservice.logedIn">
                    <div class="left-button">
                        <button mat-button (click)="login()"
                            class="normal-button">{{publicservice.Texts.Texts["header6"]}}</button>
                    </div>
                    <div>
                        <button mat-flat-button (click)="Signup()"
                            class="green-button">{{publicservice.Texts.Texts["header7"]}}</button>
                    </div>
                </div>
                <div class="after-login" *ngIf="publicservice.logedIn">
                    <div class="left-button">
                        <button mat-button [disabled]="true" class="normal-button">{{userName}}</button>
                    </div>

                    <div>
                        <button mat-flat-button class="green-button"
                            (click)="Dashboard()">{{publicservice.Texts.Texts["header9"]}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="whole-header-phone">
            <button mat-button>
                <mat-icon style="color: white;font-size: 32px;" [inline]="true">menu</mat-icon>
            </button>
            <div class="logo" routerLink="home">
                <img class="logo-image" src="assets/svg/dark-3d.svg">
            </div>
        </div>
    </header>
    <div class="introduction-div">
        <div class="white-part">
            <div class="inside-white-part">
                <h1 class="rules-title">{{publicservice.Texts.Texts['rules1']}}</h1>
                <h1 class="rules-subtitle2" style="text-align: center;">تم مسابقه به‌زودی در تاریخ ۶ فروردین ۱۴۰۰ اعلام
                    می‌شود</h1>
                <h1 class="rules-subtitle1">چگونه در مسابقه ثبت‌نام کنیم؟</h1>
                <p class="text">
                    برای ثبت‌نام، ابتدا باید در این سایت ثبت‌نام کنید و سپس تیم خود را در قسمت داشبورد تکمیل کنید.
                    سپس به صفحه مسابقه در سایت <a href="https://itch.io/jam/aut-gamecraft">itch.io</a> یعنی فلان لینک وارد شوید و در
                    مسابقه عضو شوید.
                    از هر تیم حداقل یک نفر نیاز است که عضو مسابقه در سایت <a href="https://itch.io/jam/aut-gamecraft">itch.io</a> شوند؛
                    زیرا برای سابمیت فایل نهایی فقط
                    یکی از اعضای تیم نیاز است که آن را آپلود کند.
                    حتماً برای پیدا کردن هم‌تیمی و مطلع شدن از آخرین اخبار مسابقه در <a href="https://discord.gg/SpUZ89KKbn">سرور دیسکورد</a> و <a href="https://t.me/AUTGamecraft">کانال تلگرام</a> رویداد
                    عضو شوید.</p>
                <h1 class="rules-subtitle1">قوانین مسابقه</h1>
                <p class="text">
                    1. بازی شما باید در بازه‌ی زمانی مسابقه ساخته شده باشه، ولی می‌تونین از کد‌های ساده‌ای که قبلاً زدین
                    تو مسیر ساخت بازی استفاده کنید.<br>
                    2. هیچ محدودیتی تو استفاده از موتور‌ بازی‌سازی و تکنولوژی‌هایی که استفاده می‌کنین نیست.<br>
                    3. کپی‌رایت رو رعایت کنید.<br>
                    4. تعداد افراد تیم‌ها از ۳ تا ۵ نفر می‌تونه متغیر باشه.<br>
                    5. تنها چیزی که باید سابمیت کنید، فایل اجرای بازی بر روی ویندوزه.<br>
                    6. تو محتوای بازیتون حتماً باید موازین اخلاقی رعایت شده باشه.<br>
                    7. از بازی ساختن لذت ببرید!</p>
                <h1 class="rules-subtitle1">داوری و جوایز</h1>
                <p class="text">بعد از اتمام مسابقه داوری بازی‌ها شروع می‌شود و در تاریخ ۱۶ ام فروردین ماه در مراسم
                    اختتامیه که جزییاتش را به زودی در اختیارتان قرار می‌دهیم،‌ برندگان مسابقه اعلام می‌شوند.</p>
                <h1 class="rules-subtitle2">معیارهای داوری</h1>
                <p class="text">وفادار بودن به تم مسابقه<br>
                    قابل بازی بودن (گیم‌پلی)<br>
                    طراحی بازی و مراحل<br>
                    کیفیت بصری<br>
                    تازگی<br>
                    فان بودن</p>
                <h1 class="rules-subtitle2">جوایز مسابقه</h1>
                <p class="text">به ترتیب به تیم‌های اول تا سوم مبالغ ۳، ۲ و ۱ میلیون تومان به عنوان جایزه اهدا می‌شود.
                    ضمناً راه ارتباطی با تیم‌های برتر در اختیار حامیان مسابقه قرار می‌گیرد تا با آن‌ها برای همکاری
                    ارتباط برقرار کنند.</p>
            </div>
        </div>
    </div>
    <div class="footer-whole-div" #footer>
        <div>
            <img class="purple-wave-above-footer" src="assets/svg/wave-purple.svg">
        </div>
        <div class="footer-div">
            <div class="discription-footer-div">
                <div class="discription-right-footer-div">
                    <div class="discription-right-footer-about-div">
                        <h1 class="discription-right-footer-about-title">
                            {{publicservice.Texts.Texts["home37"]}}</h1>
                        <p class="discription-right-footer-about-discription">
                            {{publicservice.Texts.Texts["home39"]}}
                            <br>
                            {{publicservice.Texts.Texts["home62"]}}
                        </p>
                        <div style="text-align: center;">
                            <button mat-flat-button (click)="People()" class="green-button"
                                style="margin: 0 auto;">{{publicservice.Texts.Texts["home47"]}}</button>
                            <div class="footer-image-div-phone">
                                <img class="footer-image" src="assets/images/folan.png">
                            </div>
                        </div>
                    </div>
                    <div class="discription-right-footer-bubble">
                    </div>
                </div>
                <div class="footer-image-div">
                    <img class="footer-image" src="assets/images/folan.png">
                </div>
            </div>
            <div class="supporters-div">
                <h1 class="supporters-title">
                    {{publicservice.Texts.Texts["home40"]}}
                </h1>
                <div class="supporters-card-div">
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/quiz of kings.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/avngames.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/tod.png">
                    </div>
                    <!-- <p class="supportes-card-name">
                        {{publicservice.Texts.Texts["home41"]}}</p> -->
                </div>
            </div>

        </div>
    </div>
</div>
<div class="developers-div">
    <div class="developers-image">
        <img class="ssc-image" src="assets/images/Asset 4.png">
        <img class="ssc-image" src="assets/images/ssc_white.png">
    </div>
    <p class="developers">{{publicservice.Texts.Texts["home42"]}}</p>
</div>