<div
    style="  display: flex; justify-content: space-evenly; direction: rtl; background-color: #52006b; height: 100%; background-image: url('assets/svg/pattern.svg'); ">

    <div style="direction: rtl; text-align: center; margin-top: 20% ;">

        <h2 style="font-size: x-large;font-family: 'Lalezar-Regular';color: #07f49e;">ورود</h2>
    
        <h1 style="font-size:70px;font-family: 'Estedad-Black';color: #07f49e;margin-bottom: 0;">گیمـ</h1>

    </div>
    <div
        style="background-color: white ; height: 35% ; margin-top: 20%; width : 25% ; text-align: center; border-radius: 20px;  ">

        <form >
            <mat-form-field style="width: 70%; text-align: right;">
              <mat-label >موبایل</mat-label>
              <input matInput >
            </mat-form-field>
    
            <mat-form-field style="width: 70%; text-align: right;" >
                <mat-label >رمز عبور</mat-label>
                <input matInput >
              </mat-form-field>
         
          </form>
          <div style="direction: rtl; text-align: center;  ;">
     
            <div>
                <button mat-raised-button  style="font-size:15px;font-family: 'Estedad-Black'; color: #52006b; background-color: #6af9c5; margin-top: 10%;" >ورود</button>
            </div>
            <div>
                <button mat-button (click)="signup()" [mat-dialog-close]="true" style="color: #00b583; font-family:'Estedad-Black'; ">ثبت نام</button>
            </div>
           
        </div>


    </div>

</div>