<div
    style="  display: flex; justify-content: space-evenly; direction: rtl; background-color: #52006b; height: 100%; background-image: url('assets/svg/pattern.svg'); ">

    <div style="direction: rtl; text-align: center; margin-top: 25% ;">

        <h2 style="font-size: x-large;font-family: 'Lalezar-Regular';color: #07f49e;">ورود</h2>
        <h1 style="font-size: xxx-large;font-family: 'Lalezar-Regular';color: #07f49e;">گیم</h1>

    </div>
    <div
        style="background-color: white ; height: 50% ; margin-top: 20%; width : 30% ; text-align: center; border-radius: 20px; ">

        <form >
            <mat-form-field  style=" direction : rtl;">
              <mat-label >موبایل</mat-label>
              <input matInput >
            </mat-form-field>
            <mat-form-field style=" direction : rtl;">
                <mat-label>رمز عبور</mat-label>
                <input matInput >
              </mat-form-field>
         
          </form>


    </div>

</div>