.-login {
    width: 1280px;
    height: 800px;
    padding: 211px 288.5px 211px 260px;
    background-color: var(--primary-dark);
  }
  .Rectangle-35 {
    width: 380px;
    height: 378px;
    margin: 0 219.5px 0 0;
    padding: 36px 28px 0;
    border-radius: 16px;
    border: solid 1px #f5f5f5;
    background-color: var(--white);
  }