<div class="whole" #dash>
    <div class="cart">
        <div class="logo" (click)='Home()'>
            <p class="logo-text" style="margin-left: -5px;">{{publicservice.Texts.Texts["logo1"]}}</p>
            <img class="logo-image" src="assets/svg/dark-3d.svg">
            <p class="logo-text" style="margin-right: -5px;">{{publicservice.Texts.Texts["logo2"]}}</p>
        </div>
        <div class="dash-event">
            <div class="right-part">
                <div class="right-part-header">
                    <div class="name-image-phone">
                        <div>
                            <input type="file" id="imgUpload" style="display:none"
                                (change)="handleFileInput($event.target.files)">
                            <img class="user-image" id="image" style="cursor: pointer;" (click)="Upload()">
                        </div>
                        <p class="user-name">{{userName}}</p>
                    </div>
                    <div style="display: flex;justify-content: center;">
                        <button mat-stroked-button class="outlined-button"
                            id="outlined-button-phone">{{publicservice.Texts.Texts["dash-event5"]}}</button>
                        <button mat-button (click)="logOut()"
                            class="normal-button">{{publicservice.Texts.Texts["header8"]}}</button>
                    </div>
                </div>
                <div class="header-buttons">
                    <div class="right-header-button">
                        <button mat-button style="background-color: #fafafa;" class="buttons" (click)="events()">
                            <mat-icon>{{publicservice.Texts.Texts["dash-event29"]}}</mat-icon>
                            {{publicservice.Texts.Texts["dash-event2"]}}
                        </button>
                        <button mat-button (click)="media()" style="background-color: #fafafa;" class="buttons">
                            <mat-icon>{{publicservice.Texts.Texts["dash-event30"]}}</mat-icon>
                            {{publicservice.Texts.Texts["dash-event3"]}}
                        </button>
                    </div>
                    <div class="left-header-button">
                        <button mat-button (click)="Teams()" style="background-color: #fafafa;" class="buttons">
                            <mat-icon>{{publicservice.Texts.Texts["dash-event31"]}}</mat-icon>
                            {{publicservice.Texts.Texts["dash-event4"]}}
                        </button>
                        <button mat-button style="background-color: #fafafa;" class="buttons">
                            <mat-icon>{{publicservice.Texts.Texts["dash-event32"]}}</mat-icon>
                            {{publicservice.Texts.Texts["dash-event33"]}}
                        </button>
                    </div>
                </div>
                <button mat-stroked-button class="outlined-button">{{publicservice.Texts.Texts["dash-event5"]}}</button>
                <button mat-stroked-button (click)="Cart()" id="cart-button" class="outlined-button">سبد خرید</button>
            </div>
            <div class="left-part">
                <h1 class="title">{{publicservice.Texts.Texts['cart1']}}</h1>
                <div class="item-workshop">
                    <div style="display: flex;">
                        <div class="orange"></div>
                        <p class="item-title">{{publicservice.Texts.Texts['cart2']}}</p>
                    </div>
                    <p class="item-date">{{publicservice.Texts.Texts['cart3']}}</p>
                    <div style="display: flex;">
                        <p class="item-cost">{{publicservice.Texts.Texts['cart4']}}</p>
                        <button class="delete-button" mat-stroked-button>{{publicservice.Texts.Texts['cart5']}}</button>
                    </div>
                </div>
                <div class="item-workshop" [class]="Delete()">
                    <div style="display: flex;">
                        <div class="pink"></div>
                        <p class="item-title">{{publicservice.Texts.Texts['cart2']}}</p>
                    </div>
                    <p class="item-date">{{publicservice.Texts.Texts['cart3']}}</p>
                    <div style="display: flex;">
                        <p class="item-cost">{{publicservice.Texts.Texts['cart4']}}</p>
                        <button class="delete-button" (click)="Delete()"
                            mat-stroked-button>{{publicservice.Texts.Texts['cart5']}}</button>
                    </div>
                </div>
                <div class="below-items">
                    <p class="cost">{{publicservice.Texts.Texts['cart6']}}</p>
                    <button mat-flat-button class="green-button">{{publicservice.Texts.Texts['cart7']}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-whole-div">
        <img class="purple-wave-above-footer" src="assets/svg/wave-purple.svg">
        <div class="footer-div">
            <div class="discription-footer-div">
                <div class="discription-right-footer-div">
                    <div class="discription-right-footer-about-div">
                        <h1 class="discription-right-footer-about-title">
                            {{publicservice.Texts.Texts["home37"]}}</h1>
                        <h3 class="discription-right-footer-about-subtitle">
                            {{publicservice.Texts.Texts["home38"]}}</h3>
                        <p class="discription-right-footer-about-discription">
                            {{publicservice.Texts.Texts["home39"]}}</p>
                        <div style="text-align: center;">
                            <button mat-flat-button (click)="People()"
                                class="green-button">{{publicservice.Texts.Texts["home47"]}}</button>
                        </div>
                    </div>
                    <div class="discription-right-footer-bubble">
                    </div>
                </div>
                <div class="footer-image-div">
                    <img class="footer-image" src="assets/images/masoud.jpg">
                </div>
            </div>
            <div>
                <h1 class="supporters-title">
                    {{publicservice.Texts.Texts["home40"]}}
                </h1>
            </div>
            <div class="supporters-card-div">
                <div class="supportes-card-image-div">
                    <img class="supporters-card-image" src="assets/images/quiz of kings.png">
                </div>
                <div class="supportes-card-image-div">
                    <img class="supporters-card-image" src="assets/images/avngames.png">
                </div>
            </div>
        </div>
    </div>
    <div class="developers-div">
        <p class="developers">{{publicservice.Texts.Texts["home42"]}}</p>
    </div>
</div>