@font-face{
    font-family:Lalezar-Regular;
    src: url('/assets/fonts/Lalezar-Regular.ttf');
}
@font-face{
    font-family:Estedad;
    src: url('/assets/fonts/Estedad.ttf');
}
@font-face{
    font-family:B KoodakBold;
    src: url('/assets/fonts/B Koodak Bold.ttf');
}
