@font-face{
    font-family:Lalezar-Regular;
    src: url('/assets/fonts/Lalezar-Regular.ttf');
}
@font-face{
    font-family:Estedad;
    src: url('/assets/fonts/Estedad.ttf');
}
@font-face{
    font-family:B KoodakBold;
    src: url('/assets/fonts/B Koodak Bold.ttf');
}
@font-face{
    font-family:Estedad-Black;
    src: url('/assets/fonts/Estedad-Black.ttf');
}
@font-face{
    font-family:Estedad-Bold;
    src: url('/assets/fonts/Estedad-Bold.ttf');
}
@font-face{
    font-family:Estedad-ExtraBold;
    src: url('/assets/fonts/Estedad-ExtraBold.ttf');
}
@font-face{
    font-family:Estedad-ExtraLight;
    src: url('/assets/fonts/Estedad-ExtraLight.ttf');
}
@font-face{
    font-family:Estedad-Light;
    src: url('/assets/fonts/Estedad-Light.ttf');
}
@font-face{
    font-family:Estedad-Medium;
    src: url('/assets/fonts/Estedad-Medium.ttf');
}
@font-face{
    font-family:Estedad-Regular;
    src: url('/assets/fonts/Estedad-Regular.ttf');
}
@font-face{
    font-family:Estedad-SemiBold;
    src: url('/assets/fonts/Estedad-SemiBold.ttf');
}
@font-face{
    font-family:Estedad-Thin;
    src: url('/assets/fonts/Estedad-Thin.ttf');
}
@font-face{
    font-family:Estedad-Medium2;
    src: url('/assets/fonts/Estedad-Medium2.ttf');
}
@font-face{
    font-family:Estedad-Regularw;
    src: url('/assets/fonts/Estedad-Regular.woff2');
}
@font-face{
    font-family: Vazir-Black;
    src: url('/assets/fonts/Vazir-Black-FD.tff');
}
@font-face{
    font-family: Vazir-Bold;
    src: url('/assets/fonts/Vazir-Bold-FD.tff');
}
@font-face{
    font-family: Vazir-Light;
    src: url('/assets/fonts/Vazir-Light-FD.tff');
}
@font-face{
    font-family: Vazir-Medium;
    src: url('/assets/fonts/Vazir-Medium-FD.tff');
}
@font-face{
    font-family: Vazir-Regular;
    src: url('/assets/fonts/Vazir-Regular-FD.tff');
}
@font-face{
    font-family: Vazir-Thin;
    src: url('/assets/fonts/Vazir-Thin-FD.tff');
}
::ng-deep .snackbar {
    background-color: transparent;
    box-shadow: none;
    height: 0;
}