@font-face{
    font-family:Lalezar-Regular;
    src: url('/2021/assets/fonts/Lalezar-Regular.ttf');
}
@font-face{
    font-family:Estedad;
    src: url('/2021/assets/fonts/Estedad.ttf');
}
@font-face{
    font-family:B KoodakBold;
    src: url('/2021/assets/fonts/B Koodak Bold.ttf');
}
@font-face{
    font-family:Estedad-Black;
    src: url('/2021/assets/fonts/Estedad-Black.ttf');
}
@font-face{
    font-family:Estedad-Bold;
    src: url('/2021/assets/fonts/Estedad-Bold.ttf');
}
@font-face{
    font-family:Estedad-ExtraBold;
    src: url('/2021/assets/fonts/Estedad-ExtraBold.ttf');
}
@font-face{
    font-family:Estedad-ExtraLight;
    src: url('/2021/assets/fonts/Estedad-ExtraLight.ttf');
}
@font-face{
    font-family:Estedad-Light;
    src: url('/2021/assets/fonts/Estedad-Light.ttf');
}
@font-face{
    font-family:Estedad-Medium;
    src: url('/2021/assets/fonts/Estedad-Medium.ttf');
}
@font-face{
    font-family:Estedad-Regular;
    src: url('/2021/assets/fonts/Estedad-Regular.ttf');
}
@font-face{
    font-family:Estedad-SemiBold;
    src: url('/2021/assets/fonts/Estedad-SemiBold.ttf');
}
@font-face{
    font-family:Estedad-Thin;
    src: url('/2021/assets/fonts/Estedad-Thin.ttf');
}
@font-face{
    font-family:Estedad-Medium2;
    src: url('/2021/assets/fonts/Estedad-Medium2.ttf');
}
@font-face{
    font-family:Estedad-Regularw;
    src: url('/2021/assets/fonts/Estedad-Regular.woff2');
}
@font-face{
    font-family:Vazir-Black;
    src: url('/2021/assets/fonts/Vazir-Black-FD.ttf');
}
@font-face{
    font-family:Vazir-Bold;
    src: url('/2021/assets/fonts/Vazir-Bold-FD.ttf');
}
@font-face{
    font-family:Vazir-Light;
    src: url('/2021/assets/fonts/Vazir-Light-FD.ttf');
}
@font-face{
    font-family:Vazir-Medium;
    src: url('/2021/assets/fonts/Vazir-Medium-FD.ttf');
}
@font-face{
    font-family:Vazir-Regular;
    src: url('/2021/assets/fonts/Vazir-Regular-FD.ttf');
}
@font-face{
    font-family:Vazir-Thin;
    src: url('/2021/assets/fonts/Vazir-Thin-FD.ttf');
}
::ng-deep .snackbar {
    background-color: transparent;
    box-shadow: none;
    height: 0;
}


::ng-deep .mat-badge-content.mat-badge-active{
    background-color: #b00020 !important;
    font-family: 'Vazir-Black';
}