* {
  color: #e8e7ff;
  background-color: #34334b;
  box-sizing: border-box;
  font-family: "Estedad-Black", sans-serif;
}

.body {
  width: 100%;
  background-color: #34334b;
  padding: 20px;
}

.main {
  //max-width: 1000px;
  margin: auto 50px;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

h2, h1 {
  text-align: right;
}

.row {
  margin: 8px -16px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
