<div class="whole" #dash>
    <div class="dash-teams" id="dash">
        <div class="logo" (click)='Home()'>
            <p class="logo-text" style="margin-left: -5px;">{{publicservice.Texts.Texts["logo1"]}}</p>
            <img class="logo-image" src="assets/svg/dark-3d.svg">
            <p class="logo-text" style="margin-right: -5px;">{{publicservice.Texts.Texts["logo2"]}}</p>
        </div>
        <div class="dash-teams-inner-div">
            <div class="right-part">
                <div class="right-part-header">
                    <div class="name-image-phone">
                        <div>
                            <input type="file" id="imgUpload" style="display:none"
                                (change)="handleFileInput($event.target.files)">
                            <img class="user-image" id="image" style="cursor: pointer;" (click)="Upload()">
                        </div>
                        <p class="user-name">
                            {{userName}}</p>
                    </div>
                    <div style="display: flex;justify-content: center;">
                        <button mat-stroked-button class="outlined-button"
                            id="outlined-button-phone">{{publicservice.Texts.Texts["dash-event5"]}}</button>
                        <button mat-button (click)="logOut()"
                            class="normal-button">{{publicservice.Texts.Texts["header8"]}}</button>
                    </div>
                </div>
                <div class="header-buttons">
                    <div class="right-header-button">
                        <button mat-button style="background-color: #fafafa;" class="buttons" (click)="events()">
                            <mat-icon>{{publicservice.Texts.Texts["dash-media11"]}}</mat-icon>
                            {{publicservice.Texts.Texts["dash-media2"]}}
                        </button>
                        <button mat-button (click)="media()" style="background-color: #fafafa;" class="buttons">
                            <mat-icon>{{publicservice.Texts.Texts["dash-media12"]}}</mat-icon>
                            {{publicservice.Texts.Texts["dash-media3"]}}
                        </button>
                    </div>
                    <div class="left-header-button">
                        <button mat-button (click)="Teams()" style="background-color: #eceff1;" class="buttons">
                            <mat-icon>{{publicservice.Texts.Texts["dash-media13"]}}</mat-icon>
                            {{publicservice.Texts.Texts["dash-media4"]}}
                        </button>
                        <button mat-button style="background-color: #fafafa;" class="buttons">
                            <mat-icon>{{publicservice.Texts.Texts["dash-media14"]}}</mat-icon>
                            {{publicservice.Texts.Texts["dash-media15"]}}
                        </button>
                    </div>
                </div>
                <!-- <button mat-stroked-button class="outlined-button">{{publicservice.Texts.Texts["dash-media5"]}}</button> -->
                <button mat-stroked-button matBadge="2" matBadgePosition="before" (click)="Cart()" class="outlined-button">{{publicservice.Texts.Texts['cart8']}}</button>
            </div>
            <div class="left-part" >
                <h1 class="events-title">
                    {{publicservice.Texts.Texts["dash-teams1"]}}</h1>
                <div style="display: flex;padding-bottom: 20px;">
                    <h2 class="people">{{publicservice.Texts.Texts["dash-teams2"]}}</h2>
                    <p class="people-discription">{{publicservice.Texts.Texts["dash-teams3"]}}</p>
                </div>
                <div class="team-create-whole-div" >
                    <div class="form-field-div">
                        <form >
                            <mat-form-field class="form-field" >
                                <mat-label class="label">{{publicservice.Texts.Texts["dash-teams4"]}}
                                </mat-label>
                                <input matInput [formControl]="nameFormControl" class="input"
                                    [(ngModel)]="publicservice.Email">
                                <mat-error *ngIf="nameFormControl.hasError('required')" class="error">
                                    {{publicservice.Texts.Texts["dash-teams5"]}}
                                    <strong>{{publicservice.Texts.Texts["login6"]}}</strong>
                                    {{publicservice.Texts.Texts["login5"]}}
                                </mat-error>
                            </mat-form-field>
                        </form>
                        <form>
                            <mat-form-field class="form-field">
                                <mat-label class="label">{{publicservice.Texts.Texts["dash-teams6"]}}</mat-label>
                                <input type="email" placeholder="Pick one" matInput [formControl]="myControl"
                                    [matAutocomplete]="auto" id="inputEmail">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="Add(option)" id="matOption">
                                        <div class="option" [inline]="true">
                                            <div style="display: flex;">
                                                <img class="option-image">
                                                <p class="name">{{option}}</p>
                                            </div>
                                            <p class="email">farasati@gmail.com</p>
                                        </div>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </form>
                    </div>
                    <div style="width: 25%;">
                        <div>
                            <p class="no-one-text">هیچکس انتخاب نشده</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-whole-div">
        <div class="purple-wave-above-footer">
        </div>
        <div class="footer-div">
            <div class="discription-footer-div">
                <div class="discription-right-footer-div">
                    <div class="discription-right-footer-about-div">
                        <h1 class="discription-right-footer-about-title">
                            {{publicservice.Texts.Texts["home37"]}}</h1>
                        <h3 class="discription-right-footer-about-subtitle">
                            {{publicservice.Texts.Texts["home38"]}}</h3>
                        <p class="discription-right-footer-about-discription">
                            {{publicservice.Texts.Texts["home39"]}}</p>
                        <div style="text-align: center;">
                            <button mat-flat-button (click)="People()"
                                class="green-button">{{publicservice.Texts.Texts["home47"]}}</button>
                        </div>
                    </div>
                    <div class="discription-right-footer-bubble">
                    </div>
                </div>
                <div class="footer-image-div">
                    <img class="footer-image">
                </div>
            </div>
            <div>
                <h1 class="supporters-title">
                    {{publicservice.Texts.Texts["home40"]}}
                </h1>
            </div>
            <div class="supporters-card-div">
                <div class="supportes-card-image-div">
                    <img class="supporters-card-image" src="assets/images/quiz of kings.png">
                </div>
                <div class="supportes-card-image-div">
                    <img class="supporters-card-image" src="assets/images/avngames.png">
                </div>
                <div class="supportes-card-image-div">
                    <img class="supporters-card-image" src="assets/images/tod.png">
                </div>
            </div>
        </div>
    </div>
    <div class="developers-div">
        <p class="developers">{{publicservice.Texts.Texts["home42"]}}</p>
    </div>
</div>