<div class="login-whole">
    <div class="login">

        <div class="login-title-div">

            <h2 class="login-title1">
                {{publicservice.Texts.Texts["forgot2"]}}</h2>

            <div class="logo" (click)="Home()">
                <p class="logo-text" style="margin-left: -5px;">{{publicservice.Texts.Texts["logo1"]}}</p>
                <img class="logo-image" src="assets/svg/dark-3d.svg">
                <p class="logo-text" style="margin-right: -5px;" id="left-logo-text">{{publicservice.Texts.Texts["logo2"]}}</p>
            </div>

        </div>
    

        <div class="form-fields-div">
            <!-- <div class="form-field-div">
                <form>
                    <mat-form-field class="form-field">
                        <mat-label class="label">{{publicservice.Texts.Texts["login3"]}}
                        </mat-label>
                        <input matInput [formControl]="emailFormControl" id="inputEmail" type="email"
                            placeholder="Ex. pat@example.com" class="input" [(ngModel)]="publicservice.Email">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')"
                            class="error">
                            {{publicservice.Texts.Texts["login4"]}}
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')" class="error">
                            {{publicservice.Texts.Texts["login7"]}}
                            <strong>{{publicservice.Texts.Texts["login6"]}}</strong>
                            {{publicservice.Texts.Texts["login5"]}}
                        </mat-error>
                    </mat-form-field>
                </form>
            </div> -->
            <div class="form-field-div">
                <form>
                    <mat-form-field class="form-field">
                        <mat-label class="label">{{publicservice.Texts.Texts["login8"]}}
                        </mat-label>
                        <input matInput [formControl]="passwordFormControl" id="inputPassword" class="input"
                            [(ngModel)]="publicservice.newPassword" [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                   
                    
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <mat-label class="label">{{publicservice.Texts.Texts["newpassword"]}} 
                        </mat-label>
                        <input matInput [formControl]="passwordFormControl" id="inputPassword2" class="input"
                            [(ngModel)]="publicservice.newPassword2">
                           
                   
                    
                    </mat-form-field>
                </form>
            </div>
            <div class="buttons">

                <div>
                    <button mat-flat-button  (click)="newpassword()"
                        class="green-button">{{publicservice.Texts.Texts["forgot1"]}}</button>
                </div>
               

            </div>


        </div>

    </div>
</div>