<div id="people" #people></div>
<div class="people">
    <!-- <header style="position: fixed;width: 100%;background-color: #52006b;z-index: 100;"> -->
    <div class="header">
        <div class="whole-header"  [class]="getNavClass()">
            <div class="big-right-header">
                <div class="title-div">
                    <div class="logo" (click)="Home()">
                        <img class="logo-image" src="assets/svg/dark-3d.svg">
                    </div>
                </div>
                <div class="right-header">
                    <div class="right-button">
                        <button mat-button class="normal-button"
                            (click)="Schedule()">{{publicservice.Texts.Texts["header2"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="Rules()" id="rules-button"
                            class="normal-button">{{publicservice.Texts.Texts["header11"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="Workshop()"
                            class="normal-button">{{publicservice.Texts.Texts["header3"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="Talk()"
                            class="normal-button">{{publicservice.Texts.Texts["header4"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="Footer(footer)"
                            class="normal-button">{{publicservice.Texts.Texts["header5"]}}</button>
                    </div>
                    <div class="right-button">
                        <button mat-button (click)="Footer(people)" class="normal-button"
                            id="people-button">{{publicservice.Texts.Texts["header12"]}}</button>
                    </div>
                </div>
            </div>
            <div class="left-header">
                <div class="left-header-line"></div>
                <div class="before-login" *ngIf="!publicservice.logedIn">
                    <div class="left-button">
                        <button mat-button (click)="login()"
                            class="normal-button">{{publicservice.Texts.Texts["header6"]}}</button>
                    </div>
                    <div>
                        <button mat-flat-button (click)="Signup()"
                            class="green-button">{{publicservice.Texts.Texts["header7"]}}</button>
                    </div>
                </div>
                <div class="after-login" *ngIf="publicservice.logedIn">
                    <div class="left-button">
                        <button mat-button [disabled]="true" class="normal-button">{{userName}}</button>
                    </div>

                    <div>
                        <button mat-flat-button class="green-button"
                            (click)="Dashboard()">{{publicservice.Texts.Texts["header9"]}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="whole-header-phone">
            <button mat-button (click)=" onPress();icon =(icon == 'menu' ? 'close' : 'menu')">
                <mat-icon style="color: white;font-size: 32px;" [inline]="true">{{icon}}</mat-icon>
            </button>
            <div class="logo" (click)="Home()">
                <img class="logo-image" src="assets/svg/dark-3d.svg">
            </div>
        </div>
        <!-- </header> -->
        <div *ngIf="display">
            <mat-sidenav-container class="example-sidenav-container">
                <!-- <mat-sidenav #snav >
          
        </mat-sidenav> -->

                <mat-sidenav-content class="side-route">
                    <mat-divider class="side-divider"></mat-divider>
                    <div class="side-button-1">
                        <div *ngIf="!publicservice.logedIn">
                            <button mat-button (click)="login()"
                                class="normal-button">{{publicservice.Texts.Texts["header6"]}}</button>
                            <button mat-flat-button (click)="Signup()"
                                class="normal-button-1">{{publicservice.Texts.Texts["header7"]}}</button>
                        </div>
                        <div *ngIf="publicservice.logedIn">
                            <div class="left-button">
                                <button mat-button [disabled]="true" class="normal-button">{{userName}}</button>

                                <button mat-flat-button class="normal-button-1"
                                    (click)="Dashboard()">{{publicservice.Texts.Texts["header9"]}}</button>
                            </div>


                        </div>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>

                    <div class="side-button">
                        <button mat-button class="normal-button"
                            (click)="Schedule(schedule)">{{publicservice.Texts.Texts["header2"]}}</button>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>
                    <div class="side-button">
                        <button mat-button (click)="Rules()"
                            class="normal-button">{{publicservice.Texts.Texts["header11"]}}</button>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>
                    <div class="side-button">
                        <button mat-button (click)="Workshop(workshop)"
                            class="normal-button">{{publicservice.Texts.Texts["header3"]}}</button>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>
                    <div class="side-button">
                        <button mat-button (click)="Talk(talk)"
                            class="normal-button">{{publicservice.Texts.Texts["header4"]}}</button>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>
                    <div class="side-button">
                        <button mat-button (click)="Talk(footer)"
                            class="normal-button">{{publicservice.Texts.Texts["header5"]}}</button>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>
                    <div class="side-button">
                        <button mat-button (click)="People()"
                            class="normal-button">{{publicservice.Texts.Texts["header12"]}}</button>
                    </div>
                    <mat-divider class="side-divider"></mat-divider>



                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>

    <div class="introduction-div">
        <div class="white-part">
            <h1 class="people-title">{{publicservice.Texts.Texts["people1"]}}</h1>
            <h1 class="people-subtitle">{{publicservice.Texts.Texts["people32"]}}</h1>
            <div class="collapse-presenters-card-div">
                <div class="collapse-presenters-card">
                    <div>
                        <img class="collapse-presenters-image" src="assets/images/ebi.jpg">
                    </div>
                    <h2 class="collapse-presenters-name">
                        {{publicservice.Texts.Texts["people33"]}}
                    </h2>
                    <h4 class="collapse-presenters-discription">
                        {{publicservice.Texts.Texts["people34"]}}</h4>
                </div>
                <div class="collapse-presenters-card">
                    <div>
                        <img class="collapse-presenters-image" src="assets/images/pariyamehrbod.jpg">
                    </div>
                    <h2 class="collapse-presenters-name">
                        {{publicservice.Texts.Texts["people35"]}}
                    </h2>
                    <h4 class="collapse-presenters-discription">
                        {{publicservice.Texts.Texts["people36"]}}</h4>
                </div>
                <div class="collapse-presenters-card">
                    <div>
                        <img class="collapse-presenters-image" src="assets/images/koroshroohi.jpg">
                    </div>
                    <h2 class="collapse-presenters-name">
                        {{publicservice.Texts.Texts["people30"]}}
                    </h2>
                    <h4 class="collapse-presenters-discription">
                        {{publicservice.Texts.Texts["people31"]}}</h4>
                </div>
                <div class="collapse-presenters-card">
                    <div>
                        <img class="collapse-presenters-image" src="assets/images/fatemehvalipourpasha.JPEG">
                    </div>
                    <h2 class="collapse-presenters-name">
                        {{publicservice.Texts.Texts['people37']}}
                    </h2>
                    <h4 class="collapse-presenters-discription">
                        {{publicservice.Texts.Texts['people38']}}</h4>
                </div>
            </div>
            <h1 class="people-subtitle">{{publicservice.Texts.Texts["people2"]}}</h1>
            <div style="direction: rtl;">
                <div class="collapse-presenters-card-div">
                    <!-- <div style="display: flex;"> -->
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/amirbsh.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people3"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people4"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/arian.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people5"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people6"]}}</h4>
                    </div>
                    <!-- </div> -->
                    <!-- <div style="display: flex;"> -->
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/hoseyn.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people7"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people8"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/alireza.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people9"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people10"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/mohammadbagherabedisagha.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people28"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people29"]}}</h4>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <h1 class="people-subtitle">{{publicservice.Texts.Texts["people13"]}}</h1>
            <div style="direction:rtl;">
                <div class="collapse-presenters-card-div">
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/daryazare.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people11"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people12"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/hediehpoorghasem.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people14"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people15"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/parsarahmati.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people16"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people17"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/danialhamdi.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people18"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people19"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/alishakourirad.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people20"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people21"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/zahrasalarian.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people22"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people23"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/amirkashi.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people24"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people25"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/ardavanroozkhosh.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people26"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people27"]}}</h4>
                    </div>
                </div>


                <h1 class="people-subtitle">{{publicservice.Texts.Texts['people41']}}</h1>
                <div class="collapse-presenters-card-div">
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/mehranghafarian.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people39"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people40"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/rozhinsattarpour.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people43"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people40"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/mahmood.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people44"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people40"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/emadferdowsi.jpeg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people45"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people40"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/shivashahrokhi.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people46"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people40"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/zahraghandi.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people47"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people40"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/amini.jpeg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people48"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people40"]}}</h4>
                    </div>
                    <div class="collapse-presenters-card">
                        <div>
                            <img class="collapse-presenters-image" src="assets/images/parsaenami.jpg">
                        </div>
                        <h2 class="collapse-presenters-name">
                            {{publicservice.Texts.Texts["people49"]}}
                        </h2>
                        <h4 class="collapse-presenters-discription">
                            {{publicservice.Texts.Texts["people50"]}}</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-whole-div" #footer>
        <div>
            <img class="purple-wave-above-footer" src="assets/svg/wave-purple.svg">
        </div>
        <div class="footer-div">
            <div class="discription-footer-div">
                <div class="discription-right-footer-div">
                    <div class="discription-right-footer-about-div">
                        <h1 class="discription-right-footer-about-title">
                            {{publicservice.Texts.Texts["home37"]}}</h1>
                        <p class="discription-right-footer-about-discription">
                            {{publicservice.Texts.Texts["home39"]}}
                            <br>
                            {{publicservice.Texts.Texts["home62"]}}
                        </p>
                        <div style="text-align: center;">
                            <button mat-flat-button (click)="People()"
                                class="green-button">{{publicservice.Texts.Texts["home47"]}}</button>
                        </div>
                    </div>
                    <div class="discription-right-footer-bubble">
                    </div>
                </div>
                <div class="footer-image-div">
                    <img class="footer-image" src="assets/images/folan.png">
                </div>
            </div>
            <div class="supporters-div">
                <h1 class="supporters-title">
                    {{publicservice.Texts.Texts["home40"]}}
                </h1>
                <div class="supporters-card-div">

                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/avngames.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/quiz of kings.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/tod.png">
                    </div>
                    <!-- <p class="supportes-card-name">
                        {{publicservice.Texts.Texts["home41"]}}</p> -->
                </div>
            </div>

        </div>
    </div>
</div>
<div class="developers-div">
    <div class="developers-image">
        <img class="ssc-image" src="assets/images/Asset 4.png">
        <img class="ssc-image" src="assets/images/ssc_white.png">
    </div>
    <p class="developers">{{publicservice.Texts.Texts["home42"]}}</p>
</div>