.dash-media {
    padding: 20px;
    direction: rtl;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 30px;
}
.whole{
    background-color: #34334B;
    background-image: url("/assets/svg/pattern.svg");
}
.buttons {
    color: #34334B;
    font-family: "Estedad-SemiBold";
    width: 100%;
    font-size: large;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    text-align: right;
}
.active {
    max-height: 2000px;
    overflow: visible;
    transition: max-height 0.5s ease-in;
}
.deactive {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
.dash-media-inner-div {
    display: flex;
    padding-bottom: 100px;
}
.right-part {
    background-color: #fafafa;
    text-align: center;
    border-radius: 20px;
    height: fit-content;
    width: 25%;
    padding-top: 20px;
}
.user-image {
    border-radius: 50%;
    margin: auto auto auto 0;
    height: 160px;
    width: 160px;
    object-fit: cover;
}
.user-name {
    font-family: "Estedad-Bold";
    color: #34334B;
    font-size: large;
    margin-bottom: 0;
}
.outlined-button {
    font-family: "Estedad-Bold";
    color: #00b583;
    font-size: large;
    border: 3px solid #63DAA4 !important;
    border-radius: 15px;
    margin-top: 12px;
    margin-bottom: 16px;
    // height: 10%;
    // margin: auto 0;
    // padding: 0;
}
.outlined-button:hover {
    background-color: #6af9c5;
    color: #34334B;
    border-color: #6af9c5 !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.08);
}
.left-part {
    background-color: #fafafa;
    text-align: center;
    border-radius: 20px;
    width: 75%;
    margin-right: 20px;
    padding: 0 10px;
    padding-bottom: 2%;
}
.mat-card{
    border-radius: 16px;
}
.events-title {
    font-family: "Estedad-Black";
    font-size: xx-large;
    color: #34334B;
}
.workshops-div {
    text-align: left;
}
.workshops-title {
    font-family: "Estedad-Bold";
    font-size: x-large;
    color: #474666;
    text-align: right;
    margin-right: 42px;
}
.mat-card {
    margin: 10px 20px;
    padding: 16px;
    direction: ltr;
    font-family: "Estedad-Bold";
    color: #34334B;

}
.download-button {
    padding: 0;
    text-align: center;
    margin: auto 0;
    font-family: "Estedad-Bold";
    color: #00b583;
    font-size: large;
    border: 2px solid #63DAA4 !important;
    border-radius: 15px;
    // margin-right: 10px;
    height: fit-content;
    width: 70px;
}
.download-button:hover {
    background-color: #6af9c5;
    color: #34334B;
    border-color: #6af9c5 !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.08);
}
.talks-div {
    text-align: left;
}
.talks-title {
    font-family: "Estedad-Bold";
    font-size: x-large;
    color: #474666;
    text-align: right;
    margin-right: 42px;
}
.normal-button {
    font-family: "Estedad-Bold";
    font-size: large;
    color: #b00020;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0);
    width: 84px;
    height: 44px;
    margin: 8px 99px 8px 102px;
}
//start of logo
.logo{
    justify-content: center;
    display: flex;
    direction: rtl;
    margin-bottom: 10px;
    margin-top: -10px;
}
.logo-image{
    width: 100.8px;
    z-index: 1;
    cursor: pointer;
}
.logo-text{
    font-family: 'Estedad-Black';
    color: #636198;
    font-size: 24px;
    z-index: 0;
}
//end of logo
//start of footer

.purple-wave-above-footer {
    transform: scaleY(-1);
    width: 100%;
}
.footer-div {
    background-color: #34334B;
    padding-top: 10px;
    margin-top: -10px;
}
.supporters-div{
    padding-top: 10%;
}
.discription-footer-div {
    direction: rtl;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.discription-right-footer-div {
    width: 50%;
    margin-right: 10%;
    position: relative;
    direction: rtl;
}
.discription-right-footer-about-div {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    z-index: 1;
}
.discription-right-footer-about-title {
    font-family: "Estedad-Black";
    font-size: xxx-large;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}
.discription-right-footer-about-subtitle {
    font-family: "Estedad-Bold";
    color: white;
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: 0;
}
.discription-right-footer-about-discription {
    font-family: "Estedad-Regular";
    color: white;
    font-size: large;
    margin-top: 0;
}
.discription-right-footer-bubble {
    position: absolute;
    background-image: url("/assets/svg/bubble-purple.svg");
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: scaleX(-1);
    z-index: 0;
}
.footer-image-div {
    padding-top: 3%;
    // padding-right: 10%;
    margin-left: 10%;
}
.footer-image {
    height: 360px;
    width: 360px;
    // object-fit: contain;
    border-radius: 36px;
}
.supporters-title {
    font-family: "Estedad-Black";
    font-size: xxx-large;
    color: white;
    text-align: center;
    margin-bottom: 0;
}
.supporters-card-div {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.developers-image {
    display: flex;
    justify-content: center;
}
.supportes-card-image-div {
    margin: 20px;
}
.supporters-card-image {
    height: 150px;
    width: 250px;
    margin: 0px 20px 10px 20px;
    border-radius: 0%;
    object-fit: contain;
    object-position: bottom;
}
.supportes-card-name {
    font-family: "Estedad-Bold";
    color: white;
    font-size: large;
}
.developers-div {
    background-color: #474666;
    text-align: center;
    padding: 10px;
}
.developers {
    padding: 30px;
    direction: rtl;
    color: white;
    margin: 0;
    font-family: "Estedad-SemiBold";
}
.green-button {
    font-family: "Estedad-Bold";
    color: #34334B;
    background-color: #6af9c5;
    border-radius: 24px;
    padding: 11px 16px;
    font-size: large;
}
//end of footer
#outlined-button-phone{
    display: none;
}
#cart-button-phone{
    display: none;
}
.footer-image-div-phone{
    display: none;
}
.ssc-image{
    padding: 10px 30px;
    width: 150px;
    height: 150px;
    object-fit: contain;
}
@media only screen and (max-width:992px){
    .supporters-card-image{
        width: 200px;
        height: 200px;
    }
    .footer-image-div{
        display: none;
    }
    .footer-image-div-phone{
        padding-top: 30px;
        display: initial;
        width: 100%;
        box-sizing: border-box;
        margin: auto;
        text-align: center;
    }
    .footer-image {
        max-width: 100%;
        height: auto;
    }
    #cart-button-phone{
        display: initial;
        padding: auto 20px;
        width: 111px;
        height: 44px;
    }
    .supporters-card-div{
        flex-direction: column;
    }
    .dash-media-inner-div{
        flex-direction: column;
        padding: 24px;
    }
    .dash-media{
        padding: 0;
        padding-top: 20px;
        text-align: center;
        justify-content: center;
        // padding-bottom: 20%;
    }
    .right-part{
        box-sizing: border-box;

        width: 100%;
        padding: 16px;
        padding-top: 0;
        margin: auto;
        margin-bottom: 5%;
    }
    .user-image{
        width: 48px;
        height: 48px;
        margin-top: 8px;
        margin-right: 0;
        margin-left: 0;
    }
    .name-image-phone{
        display: flex;
    }
    .user-name{
        font-size: 16px;
        margin: auto 0;
    }
    #outlined-button-phone{
        display: initial;
        font-size: 16px;
        width: 121px;
        height: 44px;
    }
    .normal-button{
        font-size: 16px;
        // width: 36px;
        // height: 28px;
        margin: auto;
    }
    .right-part-header{
        display: flex;
        justify-content: space-between;
    }
    .header-buttons{
        display: flex;
        justify-content: space-evenly;
    }
    .outlined-button{
        display: none;
        font-size: 16px;
        margin: auto 0;
        padding: 0;
    }
    .buttons{
        font-size: 16px;
        border-radius: 12px;
        width: 100%;
    }
    .supporters-card-image{
        max-width: 100%;
        height: auto;
    }
    .download-button{
        font-size:14px ;
    }
    .left-part{
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
        margin: auto;
        text-align: center;
        padding: 5%;
        // padding: 5px;
        // width: 80%;
        padding-top: 0;
    }
    // .mat-card{
    //     // width: 100%;
    //     // margin-left: 0 !important;
    //     // margin: auto;
    //     // text-align: left;
    // }
    // .mat-card.mat-card.mat-focus-indicator{
    //     // width: 100%;
    //     // margin-left: 10%;
    // }
    .mat-card{
        border-radius: 12px;
    }
    .workshops-title{
        margin-right: 0;
        text-align: center;
        margin-top: 0;
    }
    // .talks-div{
    //     // text-align: center;
    //     // width: 100%;
    //     // padding: 0 20px;
    // }
    // .workshops-div{
    //     // text-align: center;
    // }
    .right-header-button{
        width: 100%;
    }
    .left-header-button{
        width: 100%;
    }
    // .footer-whole-div{
    //     // margin-top: -30%;
    // }
    .talks-title{
        text-align: center;
        margin-right: 0;
    }
    .discription-footer-div {
        flex-direction: column;
        justify-content: initial;
        justify-content: center;
    }
    .footer-image {
        width: 360px;
        height: 320px;
    }
    .discription-right-footer-div {
        text-align: center;
        padding: 38%;
        margin: 0 auto;
        margin-bottom: 70%;
        padding-right: 36px;
        padding-left: 36px;
    }
    .footer-image-div {
        text-align: center;
        margin-left: 0;
        margin-top: 200px;
    }
    .discription-right-footer-about-div {
        float: none;
    }
    .discription-right-footer-about-title {
        font-size: 40px;
    }
    .discription-right-footer-about-subtitle {
        font-size: 28px;
    }
    .discription-right-footer-about-discription{
        font-size: 20px;
    }
}
@media only screen and (max-width:588px){
    .supporters-div{
        margin-top: 100%;
    }
}
@media only screen and (max-width:420px){
    .supporters-div{
        margin-top: 1000px;
    }
}
@media only screen and (max-width: 375px) {
    .developers-image {
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    .ssc-image{
        margin: auto;
    }
}