input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
::ng-deep .snackbar {
    background-color: transparent;
    box-shadow: none;
    height: 0;
  }
.green-button {
    font-family: "Estedad-Bold";
    color: #52006b;
    background-color: #6af9c5;
    border-radius: 24px;
    padding: 11px 16px;
    font-size: large;
    width: 102px;
    height: 57px;
}
.normal-button {
    font-family: "Estedad-Bold";
    font-size: large;
    color: #00b583;
    padding: 9px 9px 9px 9px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0);
    width: 94px;
    height: 57px;
}
.signup {
    display: flex;
    justify-content: space-evenly;
    direction: rtl;
    background-color: #52006b;
    height: 100%;
    background-image: url("/assets/svg/pattern.svg");
    padding-bottom: 30px;
}
.signup-title-div {
    direction: rtl;
    text-align: center;
    margin-top: 14%;
    margin-left: 20px;
}
.signup-title1 {
    margin-left: 20px;
    font-size: 35px;
    font-family: "Estedad-Bold";
    color: #07f49e;
    margin-bottom: 0;
}
.signup-title2 {
    font-size: 70px;
    font-family: "Estedad-Black";
    color: #07f49e;
    margin-bottom: 0;
}
.left-div {
    background-color: white;
    height: fit-content;
    margin-top: 10%;
    text-align: center;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    width: 20%;
}
.form-fields-div {
    padding: 10px;
}
.form-field {
    text-align: right;
    width: 100%;
}
.label {
    font-family: "Estedad-SemiBold";
}
.input {
    text-align: right;
    font-family: "Estedad-Regular";
}
.error{
    font-family: 'Estedad-Regular';
}
.form-field-div{
    margin-top: 5%;
}
//start of logo
.logo{
    padding-top: 18px;
    justify-content: center;
    display: flex;
    direction: rtl;
  }
  .logo-image{
    margin-left: 20px;
    z-index: 1;
    width: 198.1px;
  }
  .logo-text{
    font-family: 'Estedad-Black';
    color: #a04db9;
    font-size: 24px;
    z-index: 0;
  }
  //end of logo