::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #3d3a7d !important;
}
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #3d3a7d !important;
}
::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #3d3a7d !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
::ng-deep .snackbar {
    background-color: transparent;
    box-shadow: none;
    height: 0;
}
.green-button {
    font-family: "Estedad-Bold";
    color: #3d3a7d;
    background-color: #6af9c5;
    border-radius: 24px;
    padding: 11px 16px;
    font-size: large;
    width: 102px;
    height: 57px;
}
.normal-button {
    font-family: "Estedad-Bold";
    font-size: large;
    color: #00b583;
    padding: 9px 9px 9px 9px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0);
    width: 94px;
    height: 57px;
}
.signup {
    display: flex;
    justify-content: space-evenly;
    direction: rtl;
    background-color: #3d3a7d;
    height: 100%;
    background-image: url("/assets/svg/pattern.svg");
}
.signup-title-div {
    direction: rtl;
    text-align: center;
    margin-top: 14%;
    margin-left: 20px;
}
.signup-title1 {
    margin-left: 20px;
    font-size: 35px;
    font-family: "Estedad-Bold";
    color: #36df8e;
    margin-bottom: 0;
}
.signup-title2 {
    font-size: 70px;
    font-family: "Estedad-Black";
    color: #36df8e;
    margin-bottom: 0;
}
.left-div {
    background-color: white;
    height: fit-content;
    margin-top: 10%;
    text-align: center;
    border-radius: 20px;
    padding: 40px;
    width: 30%;
}
.form-fields-div {
    //padding: 10px;
}
.form-field {
    text-align: right;
    width: 100%;
}
.label {
    font-family: "Estedad-SemiBold";
}
.input {
    text-align: left;
    font-family: "Estedad-Regular";
    color: #3d3a7d;
}
.error {
    font-family: "Estedad-Regular";
}
.form-field-div {
    margin-bottom: 40px;
}
//start of logo
.logo {
    padding-top: 18px;
    justify-content: center;
    display: flex;
    direction: rtl;
    cursor: pointer;
}
.logo-image {
    margin-left: 20px;
    z-index: 1;
    width: 198.1px;
}
.logo-text {
    font-family: "Estedad-Black";
    color: #636198;
    font-size: 24px;
    z-index: 0;
}
//end of logo
#inputPhone {
    font-family: "Vazir-Medium";
}
.logo-text {
    display: none;
    font-family: "Estedad-Black";
    color: #636198;
    font-size: 24px;
    z-index: 0;
}
@media only screen and (max-width: 992px) {
    .logo-image {
        margin: 0;
        width: 150px;
    }
    #left-logo-text {
        margin-right: -10px;
    }
    .signup {
        flex-direction: column;
        height: 100%;
        padding: 20px 20px 100px 20px;
        box-sizing: border-box;
    }
    .form-fields-div {
        margin: 0 auto;
    }
    .left-div {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 20px;
    }
    .signup-title-div {
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .signup-title1 {
        margin-left: 0;
    }
    .logo-text {
        display: initial;
    }
}
@media only screen and (max-width: 500px) {
    .left-div {
        width: 100%;
    }
    .signup {
        //padding-bottom: 50px;
    }
}
