<div class="dash-event-whole" id="dash" #dash>
    <div class="logo">
        <p class="logo-text" style="margin-left: -5px;">{{publicservice.Texts.Texts["logo1"]}}</p>
        <img class="logo-image" (click)='Home()' src="assets/svg/dark-3d.svg">
        <p class="logo-text" style="margin-right: -5px;">{{publicservice.Texts.Texts["logo2"]}}</p>
    </div>
    <div class="dash-event">
        <div class="right-part">
            <div class="right-part-header">
                <div class="name-image-phone">
                    <div style="position: relative;">
                        <input type="file" id="imgUpload" style="display:none"
                            (change)="handleFileInput($event.target.files)">
                        <img class="user-image" id="image">
                        <button mat-mini-fab class="mini-fab-button" (click)="Upload()">
                            <mat-icon>face</mat-icon>
                        </button>
                    </div>
                    <p class="user-name">{{userName}}</p>
                </div>
                <div style="display: flex;justify-content: center;">
                    <div *ngIf="!isStaff" style="margin: auto 0;">
                        <button mat-stroked-button matBadge="{{count}}" matBadgePosition="before" (click)="Cart()"
                            id="cart-button-phone"
                            class="outlined-button" >{{publicservice.Texts.Texts['cart8']}}</button>
                    </div>
                    <!-- <button mat-stroked-button class="outlined-button"
                        id="outlined-button-phone">{{publicservice.Texts.Texts["dash-event5"]}}</button> -->
                    <button mat-button (click)="logOut()"
                        class="normal-button">{{publicservice.Texts.Texts["header8"]}}</button>
                </div>
            </div>
            <div class="header-buttons">
                <div class="right-header-button">
                    <button mat-button style="background-color: #eceff1;" class="buttons" (click)="events()">
                        <mat-icon>{{publicservice.Texts.Texts["dash-event29"]}}</mat-icon>
                        {{publicservice.Texts.Texts["dash-event2"]}}
                    </button>
                    <button mat-button (click)="media()" style="background-color: #fafafa;" class="buttons">
                        <mat-icon>{{publicservice.Texts.Texts["dash-event30"]}}</mat-icon>
                        {{publicservice.Texts.Texts["dash-event3"]}}
                    </button>
                </div>
                <div class="left-header-button">
                    <button mat-button (click)="Teams()" style="background-color: #fafafa;" class="buttons">
                        <mat-icon>{{publicservice.Texts.Texts["dash-event31"]}}</mat-icon>
                        {{publicservice.Texts.Texts["dash-event4"]}}
                    </button>
                    <button mat-button (click)="Teams()" style="background-color: #fafafa;" class="buttons">
                        <mat-icon>{{publicservice.Texts.Texts["dash-event32"]}}</mat-icon>
                        {{publicservice.Texts.Texts["dash-event33"]}}
                    </button>
                </div>
            </div>
            <!-- <button mat-stroked-button class="outlined-button">{{publicservice.Texts.Texts["dash-event5"]}}</button> -->
            <div *ngIf="!isStaff">
                <button mat-stroked-button matBadge="{{count}}" matBadgePosition="before" (click)="Cart()"
                    class="outlined-button">{{publicservice.Texts.Texts['cart8']}}</button>
            </div>
        </div>
        <div class="left-part">
            <h1 class="events-title">{{publicservice.Texts.Texts["dash-event6"]}}</h1>
            <h3 class="workshops-title">{{publicservice.Texts.Texts["dash-event7"]}}</h3>
            <div class="collapse" *ngFor="let workshop of workshopsArray;let i = index">
                <div class="orange-collapse">
                </div>
                <div style="width: 100%;">
                    <div class="components">
                        <h3 class="component-title">
                            {{workshop.title}}</h3>
                        <h4 class="component-subject">
                            {{workshop.start}}</h4>
                        <!-- <h4 class="component-subject">
                            {{workshop.level}}</h4> -->
                        <button mat-stroked-button (click)="Enter()"
                            class="register-button">{{publicservice.Texts.Texts["dash-event10"]}}</button>
                        <button mat-stroked-button (click)="Enter()"
                            class="register-button">{{publicservice.Texts.Texts["dash-event12"]}}</button>
                        <button mat-button class="discription"
                            (click)="workshopsActive[i] =(workshopsActive[i] == 'active' ? 'deactive' : 'active');iconW = (iconW == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') ">{{publicservice.Texts.Texts["dash-event13"]}}
                            <mat-icon class="icon" [inline]="true">{{iconW}}</mat-icon>
                        </button>
                    </div>
                    <div [class]="workshopsActive[i]">
                        <div class="workshops-inside">
                            <div style="text-align: right;">
                                <p class="workshops-discription">
                                    {{workshop.content}}</p>
                                    <h3 class="collapse-hour">ساعت : {{workshopsStartHour[i]}} الی {{workshopsEndHour[i]}}
                                    </h3>
                            </div>
                            <div class="presenters-title-div">
                                <h1 class="presenters-title">{{publicservice.Texts.Texts["dash-event15"]}}</h1>
                            </div>
                            <div style="display: flex;justify-content: center;flex-wrap: wrap;grid-auto-rows: auto;">
                                <div class="presenter-card">
                                    <div class="presenter-card-inside" *ngFor="let presenter of workshop.presenters;">
                                        <div>
                                            <img class="presenter-image" src="{{presenter.profile}}">
                                        </div>
                                        <div style="text-align: right;height: 30%;">
                                            <h2 class="presenter-name">
                                                {{presenter.first_name}} {{presenter.last_name}}
                                            </h2>
                                            <!-- <div style="display: flex;">
                                                <a href="{{presenter.linked_in}}">
                                                    <mat-icon class="icon"
                                                        style="font-size: 25px;cursor: pointer;margin-right: 10px;">link
                                                    </mat-icon>
                                                </a>
                                            </div> -->
                                            <h4 class="presenter-about">{{presenter.descriptions}} </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="collapse-phone" *ngFor="let workshop of workshopsArray;let i = index">
                    <div class="components">
                        <div style="display: flex;justify-content: space-between;padding-left: 16px;width: 100%;box-sizing: border-box;">
                            <div style="display: flex;">
                                <div class="orange-collapse">
                                </div>
                                <h3 class="component-title">
                                    {{workshop.title}}</h3>
                            </div>
                            <div style="display: flex;">
                                <button mat-stroked-button style="margin-left: 5px;" (click)="Enter()"
                                    class="register-button">{{publicservice.Texts.Texts["dash-event10"]}}</button>
                                <button mat-stroked-button (click)="Enter()"
                                    class="register-button">{{publicservice.Texts.Texts["dash-event12"]}}</button>
                            </div>
                        </div>
                        <div
                            style="background-color: #fafafa;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;width: 100%;">
                            <div
                                style="display: flex;justify-content: space-between;padding-right:16px ;padding-left: 16px;width: 100%;box-sizing: border-box;">
                                <h4 class="component-subject">
                                    {{workshop.start}}</h4>
                                <div style="display: flex;">
                                    <h4 class="component-subject" style="margin-left: 20px;">
                                        {{workshop.remain_capacity}}</h4>
                                    <!-- <h4 class="component-subject">
                                        {{workshop.level}}</h4> -->
                                </div>
                            </div>
                            <button mat-button class="discription"
                                (click)="workshopsActive[i] =(workshopsActive[i] == 'active' ? 'deactive' : 'active');iconW = (iconW == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') ">{{publicservice.Texts.Texts["dash-event13"]}}
                                <mat-icon class="icon" [inline]="true">{{iconW}}</mat-icon>
                            </button>
                        </div>
                    <div [class]="workshopsActive[i]">
                        <div class="workshops-inside">
                            <div>
                                <p class="workshops-discription">
                                    {{workshop.content}}</p>
                                    <h3 class="collapse-hour">ساعت : {{workshopsStartHour[i]}} الی {{workshopsEndHour[i]}}
                                    </h3>
                            </div>
                            <div class="presenters-title-div">
                                <h1 class="presenters-title">{{publicservice.Texts.Texts["dash-event15"]}}</h1>
                            </div>
                            <div style="display: flex;justify-content: center;flex-wrap: wrap;grid-auto-rows: auto;">
                                <div class="presenter-card">
                                    <div class="presenter-card-inside"
                                        *ngFor="let presenter of workshop.presenters;let i = index">
                                        <div>
                                            <img class="presenter-image" src="{{presenter.profile}}">
                                        </div>
                                        <div style="text-align: right;height: 30%;">
                                            <h2 class="presenter-name">
                                                {{presenter.first_name}} {{presenter.last_name}}
                                            </h2>
                                            <!-- <div style="display: flex;">
                                                <a href="{{presenter.linked_in}}">
                                                    <mat-icon class="icon"
                                                        style="font-size: 25px;cursor: pointer;margin-right: 10px;">link
                                                    </mat-icon>
                                                </a>
                                            </div> -->
                                            <h4 class="presenter-about">{{presenter.descriptions}} </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="talks-title">
                    {{publicservice.Texts.Texts["dash-event18"]}}</h3>
            </div>
            <div class="collapse" *ngFor="let talk of talksArray;let i = index">
                <div class="pink-collapse">
                </div>
                <div style="width: 100%;">
                    <div class="components">
                        <h3 class="component-title">
                            {{talk.title}}</h3>
                        <h4 class="component-subject">
                            {{talk.start}}</h4>
                        <h4 class="component-subject">
                            {{talk.remain_capacity}}</h4>
                        <!-- <h4 class="component-subject">
                            {{talk.level}}</h4> -->
                        <button mat-stroked-button (click)="Enter()"
                            class="register-button">{{publicservice.Texts.Texts["dash-event23"]}}</button>
                            <button class="delete-button" (click)="Delete(i)"
                            mat-stroked-button>{{publicservice.Texts.Texts['cart5']}}</button>
                        <button mat-button class="discription"
                            (click)="talksActive[i] = (talksActive[i] == 'active' ? 'deactive' : 'active') ;iconT = (iconT == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') ">{{publicservice.Texts.Texts["dash-event24"]}}
                            <mat-icon class="icon" [inline]="true">{{iconT}}</mat-icon>
                        </button>
                    </div>
                    <div [class]="talksActive[i]">
                        <div class="workshops-inside" style="text-align: right;">
                            <div>
                                <p class="workshops-discription">{{talk.content}}</p>
                                <h3 class="collapse-hour">ساعت : {{talksStartHour[i]}} الی {{talksEndHour[i]}}</h3>
                            </div>
                            <div class="presenters-title-div">
                                <h1 class="presenters-title">{{publicservice.Texts.Texts["dash-event26"]}}</h1>
                            </div>
                            <div style="display: flex;justify-content: center;flex-wrap: wrap;grid-auto-rows: auto;">
                                <div class="presenter-card">
                                    <div class="presenter-card-inside" *ngFor="let presenter of talk.presenters;">
                                        <div>
                                            <img class="presenter-image" src="{{presenter.profile}}">
                                        </div>
                                        <div style="text-align: right;height: 30%;">
                                            <h2 class="presenter-name">
                                                {{presenter.first_name}} {{presenter.last_name}}
                                            </h2>
                                            <!-- <div style="display: flex;">
                                                <a href="{{presenter.linked_in}}">
                                                    <mat-icon class="icon"
                                                        style="font-size: 25px;cursor: pointer;margin-right: 10px;">link
                                                    </mat-icon>
                                                </a>
                                            </div> -->
                                            <h4 class="presenter-about">{{presenter.descriptions}} </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse-phone" *ngFor="let talk of talksArray;let i = index">
                    <div class="components">
                        <div style="display: flex;justify-content: space-between;padding-left: 16px;width: 100%;box-sizing: border-box;">
                            <div style="display: flex;">
                                <div class="pink-collapse">
                                </div>
                                <h3 class="component-title">
                                    {{talk.title}}</h3>
                            </div>
                            <button mat-stroked-button
                                class="register-button">{{publicservice.Texts.Texts["dash-event12"]}}</button>
                        </div>
                        <div
                            style="background-color: #fafafa;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;width: 100%;">
                            <div
                                style="display: flex;justify-content: space-between;padding-right:16px ;padding-left: 16px;width: 100%;box-sizing: border-box;">
                                <h4 class="component-subject">
                                    {{talk.start}}</h4>
                                <div style="display: flex;">
                                    <h4 class="component-subject" style="margin-left: 20px;">
                                        {{talk.remain_capacity}}</h4>
                                    <!-- <h4 class="component-subject">
                                        {{talk.level}}</h4> -->
                                </div>
                            </div>
                            <button class="delete-button" (click)="Delete(i)"
                            mat-stroked-button>{{publicservice.Texts.Texts['cart5']}}</button>
                            <button mat-button class="discription"
                                (click)="talksActive[i] = (talksActive[i] == 'active' ? 'deactive' : 'active') ;iconT = (iconT == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') ">{{publicservice.Texts.Texts["dash-event24"]}}
                                <mat-icon class="icon" [inline]="true">{{iconT}}</mat-icon>
                            </button>
                        </div>
                    <div [class]="talksActive[i]" >
                        <div class="workshops-inside" >
                            <div>
                                <p class="workshops-discription">{{talk.content}}</p>
                                <h3 class="collapse-hour">ساعت : {{talksStartHour[i]}} الی {{talksEndHour[i]}}</h3>
                            </div>
                            <div class="presenters-title-div">
                                <h1 class="presenters-title">{{publicservice.Texts.Texts["dash-event26"]}}</h1>
                            </div>
                            <div style="display: flex;justify-content: center;flex-wrap: wrap;grid-auto-rows: auto;">
                                <div class="presenter-card">
                                    <div class="presenter-card-inside"
                                        *ngFor="let presenter of talk.presenters;let i = index" >
                                        <div>
                                            <img class="presenter-image" src="{{presenter.profile}}">
                                        </div>
                                        <div style="text-align: right;height: 30%;">
                                            <h2 class="presenter-name">
                                                {{presenter.first_name}} {{presenter.last_name}}
                                            </h2>
                                            <!-- <div style="display: flex;">
                                                <a href="{{presenter.linked_in}}">
                                                    <mat-icon class="icon"
                                                        style="font-size: 25px;cursor: pointer;margin-right: 10px;">link
                                                    </mat-icon>
                                                </a>
                                            </div> -->
                                            <h4 class="presenter-about">{{presenter.descriptions}} </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-whole-div">
        <img class="purple-wave-above-footer" src="assets/svg/wave-purple.svg">
        <div class="footer-div">
            <div class="discription-footer-div">
                <div class="discription-right-footer-div">
                    <div class="discription-right-footer-about-div">
                        <h1 class="discription-right-footer-about-title">
                            {{publicservice.Texts.Texts["home37"]}}</h1>
                        <p class="discription-right-footer-about-discription">
                            {{publicservice.Texts.Texts["home39"]}}
                            <br>
                            {{publicservice.Texts.Texts["home62"]}}
                        </p>
                        <div style="text-align: center;">
                            <button mat-flat-button (click)="People()"
                                class="green-button">{{publicservice.Texts.Texts["home47"]}}</button>
                            <div class="footer-image-div-phone">
                                <img class="footer-image" src="assets/images/folan.png">
                            </div>
                        </div>
                    </div>
                    <div class="discription-right-footer-bubble">
                    </div>
                </div>
                <div class="footer-image-div">
                    <img class="footer-image" src="assets/images/folan.png">
                </div>
            </div>
            <div class="supporters-div">
                <h1 class="supporters-title">
                    {{publicservice.Texts.Texts["home40"]}}
                </h1>
                <div class="supporters-card-div">

                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/avngames.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/quiz of kings.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/tod.png">
                    </div>
                    <!-- <p class="supportes-card-name">
                        {{publicservice.Texts.Texts["home41"]}}</p> -->
                </div>
            </div>

        </div>
    </div>
    <div class="developers-div">
        <div class="developers-image">
            <img class="ssc-image" src="assets/images/Asset 4.png">
            <img class="ssc-image" src="assets/images/ssc_white.png">
        </div>
        <p class="developers">{{publicservice.Texts.Texts["home42"]}}</p>
    </div>
</div>