<div class="dash-event-whole" id="dash" #dash>
    <div class="logo" (click)='Home()'>
        <p class="logo-text" style="margin-left: -5px;">{{publicservice.Texts.Texts["logo1"]}}</p>
        <img class="logo-image" src="assets/svg/dark-3d.svg">
        <p class="logo-text" style="margin-right: -5px;">{{publicservice.Texts.Texts["logo2"]}}</p>
    </div>
    <div class="dash-event">
        <div class="right-part">
            <div class="right-part-header">
                <div class="name-image-phone">
                    <div>
                        <input type="file" id="imgUpload" style="display:none"
                            (change)="handleFileInput($event.target.files)">
                        <img class="user-image" id="image" style="cursor: pointer;" (click)="Upload()">
                    </div>
                    <p class="user-name">{{userName}}</p>
                </div>
                <div style="display: flex;justify-content: center;">
                    <button mat-stroked-button class="outlined-button"
                        id="outlined-button-phone">{{publicservice.Texts.Texts["dash-event5"]}}</button>
                    <button mat-button (click)="logOut()"
                        class="normal-button">{{publicservice.Texts.Texts["header8"]}}</button>
                </div>
            </div>
            <div class="header-buttons">
                <div class="right-header-button">
                    <button mat-button style="background-color: #eceff1;" class="buttons" (click)="events()">
                        <mat-icon>{{publicservice.Texts.Texts["dash-event29"]}}</mat-icon>
                        {{publicservice.Texts.Texts["dash-event2"]}}
                    </button>
                    <button mat-button (click)="media()" style="background-color: #fafafa;" class="buttons">
                        <mat-icon>{{publicservice.Texts.Texts["dash-event30"]}}</mat-icon>
                        {{publicservice.Texts.Texts["dash-event3"]}}
                    </button>
                </div>
                <div class="left-header-button">
                    <button mat-button (click)="Teams()" style="background-color: #fafafa;" class="buttons">
                        <mat-icon>{{publicservice.Texts.Texts["dash-event31"]}}</mat-icon>
                        {{publicservice.Texts.Texts["dash-event4"]}}
                    </button>
                    <button mat-button (click)="Teams()" style="background-color: #fafafa;" class="buttons">
                        <mat-icon>{{publicservice.Texts.Texts["dash-event32"]}}</mat-icon>
                        {{publicservice.Texts.Texts["dash-event33"]}}
                    </button>
                </div>
            </div>
            <!-- <button mat-stroked-button class="outlined-button">{{publicservice.Texts.Texts["dash-event5"]}}</button> -->
            <button mat-stroked-button matBadge="2" matBadgePosition="before" (click)="Cart()"
                class="outlined-button">{{publicservice.Texts.Texts['cart8']}}</button>
        </div>
        <div class="left-part">
            <h1 class="events-title">{{publicservice.Texts.Texts["dash-event6"]}}</h1>
            <h3 class="workshops-title">{{publicservice.Texts.Texts["dash-event7"]}}</h3>
            <div class="collapse">
                <div class="orange-collapse">
                </div>
                <div>
                    <div class="components">
                        <h3 class="component-title">
                            {{publicservice.Texts.Texts["dash-event8"]}}</h3>
                        <h4 class="component-subject">
                            {{publicservice.Texts.Texts["dash-event9"]}}</h4>
                        <h4 class="component-subject">
                            {{publicservice.Texts.Texts["dash-event11"]}}</h4>
                        <button mat-stroked-button
                            class="register-button">{{publicservice.Texts.Texts["dash-event10"]}}</button>
                        <button mat-stroked-button (click)="Enter()"
                            class="register-button">{{publicservice.Texts.Texts["dash-event12"]}}</button>
                        <button mat-button class="discription"
                            (click)="workshops =(workshops == 'active' ? 'deactive' : 'active');iconW = (iconW == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') ">{{publicservice.Texts.Texts["dash-event13"]}}
                            <mat-icon class="icon" [inline]="true">{{iconW}}</mat-icon>
                        </button>
                    </div>
                    <div [class]="workshops">
                        <div class="workshops-inside">
                            <div>
                                <p class="workshops-discription">
                                    {{publicservice.Texts.Texts["dash-event14"]}}</p>
                            </div>
                            <div class="presenters-title-div">
                                <h1 class="presenters-title">{{publicservice.Texts.Texts["dash-event15"]}}</h1>
                            </div>
                            <div class="presenter-card">
                                <div class="presenter-card-inside">
                                    <div>
                                        <img class="presenter-image" src="assets/images/masoud.jpg">
                                    </div>
                                    <h2 class="presenter-name">
                                        {{publicservice.Texts.Texts["dash-event16"]}}
                                    </h2>
                                    <h4 class="presenter-about">{{publicservice.Texts.Texts["dash-event17"]}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="collapse-phone">
                <div>
                    <div class="components">
                        <div style="display: flex;justify-content: space-between;padding-left: 16px;">
                            <div style="display: flex;">
                                <div class="orange-collapse">
                                </div>
                                <h3 class="component-title">
                                    {{publicservice.Texts.Texts["dash-event8"]}}</h3>
                            </div>
                            <button mat-stroked-button
                                class="register-button">{{publicservice.Texts.Texts["dash-event12"]}}</button>
                        </div>
                        <div
                            style="background-color: #fafafa;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;">
                            <div
                                style="display: flex;justify-content: space-between;padding-right:16px ;padding-left: 16px;">
                                <h4 class="component-subject">
                                    {{publicservice.Texts.Texts["dash-event9"]}}</h4>
                                <div style="display: flex;">
                                    <h4 class="component-subject" style="margin-left: 20px;">
                                        {{publicservice.Texts.Texts["dash-event10"]}}</h4>
                                    <h4 class="component-subject">
                                        {{publicservice.Texts.Texts["dash-event11"]}}</h4>
                                </div>
                            </div>
                            <button mat-button class="discription"
                                (click)="workshops =(workshops == 'active' ? 'deactive' : 'active');iconW = (iconW == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') ">{{publicservice.Texts.Texts["dash-event13"]}}
                                <mat-icon class="icon" [inline]="true">{{iconW}}</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div [class]="workshops">
                        <div class="workshops-inside">
                            <div>
                                <p class="workshops-discription">
                                    {{publicservice.Texts.Texts["dash-event14"]}}</p>
                            </div>
                            <div class="presenters-title-div">
                                <h1 class="presenters-title">{{publicservice.Texts.Texts["dash-event15"]}}</h1>
                            </div>
                            <div class="presenter-card">
                                <div class="presenter-card-inside">
                                    <div>
                                        <img class="presenter-image" src="assets/images/masoud.jpg">
                                    </div>
                                    <h2 class="presenter-name">
                                        {{publicservice.Texts.Texts["dash-event16"]}}
                                    </h2>
                                    <h4 class="presenter-about">{{publicservice.Texts.Texts["dash-event17"]}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="talks-title">
                    {{publicservice.Texts.Texts["dash-event18"]}}</h3>
            </div>
            <div class="collapse">
                <div class="pink-collapse">
                </div>
                <div>
                    <div class="components">
                        <h3 class="component-title">
                            {{publicservice.Texts.Texts["dash-event19"]}}</h3>
                        <h4 class="component-subject">
                            {{publicservice.Texts.Texts["dash-event20"]}}</h4>
                        <h4 class="component-subject">
                            {{publicservice.Texts.Texts["dash-event21"]}}</h4>
                        <h4 class="component-subject">
                            {{publicservice.Texts.Texts["dash-event22"]}}</h4>
                        <button mat-stroked-button (click)="Enter()"
                            class="register-button">{{publicservice.Texts.Texts["dash-event23"]}}</button>
                        <button mat-button class="discription"
                            (click)="talks = (talks == 'active' ? 'deactive' : 'active') ;iconT = (iconT == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') ">{{publicservice.Texts.Texts["dash-event24"]}}
                            <mat-icon class="icon" [inline]="true">{{iconT}}</mat-icon>
                        </button>
                    </div>
                    <div [class]="talks">
                        <div class="workshops-inside">
                            <div>
                                <p class="workshops-discription">{{publicservice.Texts.Texts["dash-event25"]}}</p>
                            </div>
                            <div class="presenters-title-div">
                                <h1 class="presenters-title">{{publicservice.Texts.Texts["dash-event26"]}}</h1>
                            </div>
                            <div class="presenter-card">
                                <div class="presenter-card-inside">
                                    <div>
                                        <img class="presenter-image" src="assets/images/masoud.jpg">
                                    </div>
                                    <h2 class="presenter-name">
                                        {{publicservice.Texts.Texts["dash-event27"]}}
                                    </h2>
                                    <h4 class="presenter-about">{{publicservice.Texts.Texts["dash-event28"]}} </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse-phone">
                <div>
                    <div class="components">
                        <div style="display: flex;justify-content: space-between;padding-left: 16px;">
                            <div style="display: flex;">
                                <div class="pink-collapse">
                                </div>
                                <h3 class="component-title">
                                    {{publicservice.Texts.Texts["dash-event8"]}}</h3>
                            </div>
                            <button mat-stroked-button
                                class="register-button">{{publicservice.Texts.Texts["dash-event12"]}}</button>
                        </div>
                        <div
                            style="background-color: #fafafa;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;">
                            <div
                                style="display: flex;justify-content: space-between;padding-right:16px ;padding-left: 16px;">
                                <h4 class="component-subject">
                                    {{publicservice.Texts.Texts["dash-event9"]}}</h4>
                                <div style="display: flex;">
                                    <h4 class="component-subject" style="margin-left: 20px;">
                                        {{publicservice.Texts.Texts["dash-event10"]}}</h4>
                                    <h4 class="component-subject">
                                        {{publicservice.Texts.Texts["dash-event11"]}}</h4>
                                </div>
                            </div>
                            <button mat-button class="discription"
                                (click)="talks = (talks == 'active' ? 'deactive' : 'active') ;iconT = (iconT == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') ">{{publicservice.Texts.Texts["dash-event24"]}}
                                <mat-icon class="icon" [inline]="true">{{iconT}}</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div [class]="talks">
                        <div class="workshops-inside">
                            <div>
                                <p class="workshops-discription">{{publicservice.Texts.Texts["dash-event25"]}}</p>
                            </div>
                            <div class="presenters-title-div">
                                <h1 class="presenters-title">{{publicservice.Texts.Texts["dash-event26"]}}</h1>
                            </div>
                            <div class="presenter-card">
                                <div class="presenter-card-inside">
                                    <div>
                                        <img class="presenter-image">
                                    </div>
                                    <h2 class="presenter-name">
                                        {{publicservice.Texts.Texts["dash-event27"]}}
                                    </h2>
                                    <h4 class="presenter-about">{{publicservice.Texts.Texts["dash-event28"]}} </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-whole-div">
        <img class="purple-wave-above-footer" src="assets/svg/wave-purple.svg">
        <div class="footer-div">
            <div class="discription-footer-div">
                <div class="discription-right-footer-div">
                    <div class="discription-right-footer-about-div">
                        <h1 class="discription-right-footer-about-title">
                            {{publicservice.Texts.Texts["home37"]}}</h1>
                        <h3 class="discription-right-footer-about-subtitle">
                            {{publicservice.Texts.Texts["home38"]}}</h3>
                        <p class="discription-right-footer-about-discription">
                            {{publicservice.Texts.Texts["home39"]}}
                            <br>
                            {{publicservice.Texts.Texts["home62"]}}
                        </p>
                        <div style="text-align: center;">
                            <button mat-flat-button (click)="People()"
                                class="green-button">{{publicservice.Texts.Texts["home47"]}}</button>
                        </div>
                    </div>
                    <div class="discription-right-footer-bubble">
                    </div>
                </div>
                <div class="footer-image-div">
                    <img class="footer-image" src="assets/images/masoud.jpg">
                </div>
            </div>
            <div class="supporters-div">
                <h1 class="supporters-title">
                    {{publicservice.Texts.Texts["home40"]}}
                </h1>
                <div class="supporters-card-div">
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/quiz of kings.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/avngames.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/tod.png">
                    </div>
                    <!-- <p class="supportes-card-name">
                        {{publicservice.Texts.Texts["home41"]}}</p> -->
                </div>
            </div>

        </div>
    </div>
    <div class="developers-div">
        <p class="developers">{{publicservice.Texts.Texts["home42"]}}</p>
    </div>
</div>