<div class="dash-event" style="background-image: url('assets/svg/pattern.svg');">
    <div style="display: flex;padding-bottom: 100px;">
        <div style="background-color: #fafafa;text-align: center;border-radius: 20px;height: fit-content;width: 25%;">
            <div>
                <img style="border-radius: 50%;margin: 50px;margin-bottom: 0;margin-top: 30px;height: 160px;width: 160px;object-fit: cover;"
                    src="assets/images/masoud.jpg">
            </div>
            <p style="font-family: 'Estedad-Bold';color: #52006b;font-size: large;">ابوالفضل بیهقی</p>
            <button mat-button style="background-color: #eceff1;" class="buttons" (click)="events()">رویداد ها</button>
            <button mat-button (click)="media()" style="background-color: #fafafa;" class="buttons">محتوا ها</button>
            <button mat-button style="background-color: #fafafa;" class="buttons">وضعیت تیم</button>
            <button mat-stroked-button
                style="font-family: 'Estedad-Bold';color: #00b583;font-size: large;border: 3px solid #07f49e !important;border-radius: 15px;height: 10%;margin-top: 15px;margin-bottom: 15px;">افزودن
                محتوا</button>
        </div>
        <div
            style="background-color: #fafafa;text-align: center; border-radius: 20px;height: fit-content;width: 75%;margin-right: 20px;padding-bottom:2% ;">
            <h1 style="font-family: 'Estedad-Black';font-size: xx-large;color: #52006b;">رویداد ها</h1>
            <h3
                style="font-family: 'Estedad-Bold';font-size: x-large;color: #77009b;text-align: right;margin-right: 42px;">
                کارگاه ها</h3>
            <div
                style="direction: rtl;display: flex;justify-content: space-between;border: 1px;background-color: white;margin-right: 5%;margin-left: 5%;border-radius: 15px;margin-bottom: 15px;height: fit-content;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                <div
                    style="width: 50px;background-color: #ffe0b2;border-bottom-right-radius: 15px;border-top-right-radius: 15px;">
                </div>
                <div>
                    <div style="display: flex;justify-content: space-between">
                        <h3
                            style="font-family: 'Estedad-Bold';font-size: large;color: #52006b;margin-top: 17px;margin-bottom: 0;margin-right: 2%;">
                            کارگاه بازی سازی</h3>
                        <h4
                            style="font-family: 'Estedad';color: #52006b;font-size: x-large;margin-top: 15px;margin-bottom: 15px;">
                            سه شنبه 2 بهمن 99</h4>
                        <h4
                            style="font-family: 'Estedad';color: #52006b;font-size: x-large;margin-top: 15px;margin-bottom: 15px;">
                            11 نفر</h4>
                        <h4
                            style="font-family: 'Estedad';color: #52006b;font-size: x-large;margin-top: 15px;margin-bottom: 15px;">
                            مبتدی</h4>
                        <button mat-stroked-button
                            style="font-family: 'Estedad-Bold';color: #00b583;font-size: large;border: 2px solid #07f49e !important;border-radius: 20px;height: 10%;margin-top: 15px;">ثبت
                            نام</button>
                        <button mat-button class="collapse"
                            (click)="workshops =(workshops == 'active' ? 'deactive' : 'active');iconW = (iconW == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') "
                            style="direction: ltr;font-family: 'Estedad-Bold';color: #a04db9;font-size: large;margin-top: 15px;height: 10%;margin-bottom: 15px;">توضیحات
                            <mat-icon style="color: #a04db9;font-size: xx-large;" [inline]="true">{{iconW}}</mat-icon>
                        </button>
                    </div>
                    <div [class]="workshops">
                        <div style="background-color: #fafafa;">
                            <div>
                                <p
                                    style="font-family: 'Estedad-Regular';font-size: large;direction: rtl;color: #52006b;margin-right: 30px;margin-left: 30px;margin-top: 0;">
                                    تاریخ بِیهَقی یا تاریخ مسعودی نام کتابی نوشتهٔ ابوالفضل محمد بن حسین بیهقی است که
                                    موضوع
                                    اصلی
                                    آن
                                    تاریخ پادشاهی مسعود غزنوی و دودمان غزنوی است. این کتاب علاوه بر تاریخ غزنویان،
                                    قسمت‌هایی
                                    دربارهٔ
                                    صفاریان، سامانیان و دورهٔ پیش از برآمدن و پادشاهی محمود غزنوی دارد. نسخهٔ اصلی کتاب
                                    حدود
                                    ۳۰
                                    جلد
                                    بوده</p>
                            </div>
                            <div style="text-align: center;">
                                <h1 style="font-family: 'Estedad-Bold';color: #52006b;">ارائه کنندگان</h1>
                            </div>
                            <div style="display: flex;margin-bottom: 20px;justify-content: center;">
                                <div
                                    style="direction: rtl;text-align: center;background-color: white;border-radius: 25px;box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);margin: 10px;">
                                    <div>
                                        <img style="height: 140px;width: 140px;object-fit: cover;border-radius: 50%;padding: 20px;"
                                            src="assets/images/masoud.jpg">
                                    </div>
                                    <h2
                                        style="font-family: 'Estedad-Black';color: #52006b;margin-bottom: 0;font-size:medium;">
                                        مسعود فراستی
                                    </h2>
                                    <h4 style="font-family: 'Estedad-Regular';color: #a04db9;margin-top: 0;">منتقد درجه
                                        یک</h4>
                                </div>
                                <div
                                    style="direction: rtl;text-align: center;background-color: white;border-radius: 25px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);margin: 10px;">
                                    <div>
                                        <img style="height: 140px;width: 140px;object-fit: cover;border-radius: 50%;padding: 20px;"
                                            src="assets/images/masoud.jpg">
                                    </div>
                                    <h2
                                        style="font-family: 'Estedad-Black';color: #52006b;margin-bottom: 0;font-size:medium;">
                                        مسعود فراستی
                                    </h2>
                                    <h4 style="font-family: 'Estedad-Regular';color: #a04db9;margin-top: 0;">منتقد درجه
                                        یک</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <h3
                    style="font-family: 'Estedad-Bold';font-size: x-large;color: #77009b;text-align: right;margin-right: 42px;">
                    تاک ها</h3>
            </div>
            <div
                style="direction: rtl;display: flex;justify-content: space-between;border: 1px;background-color: white;margin-right: 5%;margin-left: 5%;border-radius: 15px;margin-bottom: 15px;height: fit-content;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                <div
                    style="width: 50px;background-color: #f8bbd0;border-bottom-right-radius: 15px;border-top-right-radius: 15px;">
                </div>
                <div>
                    <div style="display: flex;justify-content: space-between;">
                        <h3
                            style="font-family: 'Estedad-Bold';font-size: large;color: #52006b;margin-top: 17px;margin-bottom: 0;margin-right: 2%;">
                            گفتگوی کشور ها</h3>
                        <h4
                            style="font-family: 'Estedad';color: #52006b;font-size: x-large;margin-top: 15px;margin-bottom: 15px;">
                            سه شنبه 2 بهمن 99</h4>
                        <h4
                            style="font-family: 'Estedad';color: #52006b;font-size: x-large;margin-top: 15px;margin-bottom: 15px;">
                            11 نفر</h4>
                        <h4
                            style="font-family: 'Estedad';color: #52006b;font-size: x-large;margin-top: 15px;margin-bottom: 15px;">
                            مبتدی</h4>
                        <button mat-stroked-button
                            style="font-family: 'Estedad-Bold';color: #00b583;font-size: large;border: 2px solid #07f49e !important;border-radius: 20px;height: 10%;margin-top: 15px;">ثبت
                            نام</button>
                        <button mat-button class="collapse"
                            (click)="talks = (talks == 'active' ? 'deactive' : 'active') ;iconT = (iconT == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') "
                            style="direction: ltr;font-family: 'Estedad-Bold';color: #a04db9;font-size: large;margin-top: 15px;height: 10%;margin-bottom: 15px;cursor: pointer;">توضیحات
                            <mat-icon style="color: #a04db9;font-size: xx-large;" [inline]="true">{{iconT}}</mat-icon>
                        </button>
                    </div>
                    <div [class]="talks">
                        <div style="background-color: #fafafa;">
                            <div>
                                <p
                                    style="font-family: 'Estedad-Regular';font-size: large;direction: rtl;color: #52006b;margin-right: 30px;margin-left: 30px;margin-top: 0;">
                                    تاریخ بِیهَقی یا تاریخ مسعودی نام کتابی نوشتهٔ ابوالفضل محمد بن حسین بیهقی است که
                                    موضوع
                                    اصلی
                                    آن
                                    تاریخ پادشاهی مسعود غزنوی و دودمان غزنوی است. این کتاب علاوه بر تاریخ غزنویان،
                                    قسمت‌هایی
                                    دربارهٔ
                                    صفاریان، سامانیان و دورهٔ پیش از برآمدن و پادشاهی محمود غزنوی دارد. نسخهٔ اصلی کتاب
                                    حدود
                                    ۳۰
                                    جلد
                                    بوده</p>
                            </div>
                            <div style="text-align: center;">
                                <h1 style="font-family: 'Estedad-Bold';color: #52006b;">ارائه کنندگان</h1>
                            </div>
                            <div style="display: flex;margin-bottom: 20px;justify-content: center;">
                                <div
                                    style="direction: rtl;text-align: center;background-color: white;border-radius: 25px;box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);margin: 10px;">
                                    <div>
                                        <img style="height: 140px;width: 140px;object-fit: cover;border-radius: 50%;padding: 20px;"
                                            src="assets/images/masoud.jpg">
                                    </div>
                                    <h2
                                        style="font-family: 'Estedad-Black';color: #52006b;margin-bottom: 0;font-size:medium;">
                                        مسعود فراستی
                                    </h2>
                                    <h4 style="font-family: 'Estedad-Regular';color: #a04db9;margin-top: 0;">منتقد درجه
                                        یک</h4>
                                </div>
                                <div
                                    style="direction: rtl;text-align: center;background-color: white;border-radius: 25px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);margin: 10px;">
                                    <div>
                                        <img style="height: 140px;width: 140px;object-fit: cover;border-radius: 50%;padding: 20px;"
                                            src="assets/images/masoud.jpg">
                                    </div>
                                    <h2
                                        style="font-family: 'Estedad-Black';color: #52006b;margin-bottom: 0;font-size:medium;">
                                        مسعود فراستی
                                    </h2>
                                    <h4 style="font-family: 'Estedad-Regular';color: #a04db9;margin-top: 0;">منتقد درجه
                                        یک</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>