<div style="width:100%;overflow: hidden;">
    <div class="home" id="home" #home>
        <div class="intro">

            <div class="header">
                <div class="whole-header" [class]="getNavClass()">
                    <div class="big-right-header">
                        <div class="title-div">
                            <div class="logo">
                                <img (click)="Schedule(home)" class="logo-image" src="assets/svg/dark-3d.svg">
                            </div>
                        </div>
                        <!-- <div class="header-line">  
                        </div> -->
                        <div class="right-header">
                            <div class="right-button">
                                <button mat-button class="normal-button"
                                    (click)="Schedule(schedule)">{{publicservice.Texts.Texts["header2"]}}</button>
                            </div>
                            <div class="right-button">
                                <button mat-button (click)="Rules()"
                                    class="normal-button">{{publicservice.Texts.Texts["header11"]}}</button>
                            </div>
                            <div class="right-button">
                                <button mat-button (click)="Workshop(workshop)"
                                    class="normal-button">{{publicservice.Texts.Texts["header3"]}}</button>
                            </div>
                            <div class="right-button">
                                <button mat-button (click)="Talk(talk)"
                                    class="normal-button">{{publicservice.Texts.Texts["header4"]}}</button>
                            </div>
                            <div class="right-button">
                                <button mat-button (click)="Talk(footer)"
                                    class="normal-button">{{publicservice.Texts.Texts["header5"]}}</button>
                            </div>
                            <div class="right-button">
                                <button mat-button (click)="People()"
                                    class="normal-button">{{publicservice.Texts.Texts["header12"]}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="left-header">
                        <div class="left-header-line"></div>
                        <div class="before-login" *ngIf="!publicservice.logedIn">
                            <div class="left-button">
                                <button mat-button (click)="login()"
                                    class="normal-button">{{publicservice.Texts.Texts["header6"]}}</button>
                            </div>
                            <div>
                                <button mat-flat-button (click)="Signup()"
                                    class="green-button">{{publicservice.Texts.Texts["header7"]}}</button>
                            </div>
                        </div>
                        <div class="after-login" *ngIf="publicservice.logedIn">
                            <div class="left-button">
                                <button mat-button [disabled]="true" class="normal-button">{{userName}}</button>
                            </div>

                            <div>
                                <button mat-flat-button class="green-button"
                                    (click)="Dashboard()">{{publicservice.Texts.Texts["header9"]}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="whole-header-phone">
                    <button mat-button (click)="snav.toggle()">
                        <mat-icon style="color: white;font-size: 32px;" [inline]="true">menu</mat-icon>
                    </button>
                    <div class="logo" routerLink="home">
                        <img class="logo-image" src="assets/svg/dark-3d.svg">
                    </div>
                   <mat-sidenav-container class="example-sidenav-container">
                    <mat-sidenav #snav >
                        <mat-nav-list>
                          
                        </mat-nav-list>
                    </mat-sidenav>

                    <mat-sidenav-content>
                   
                    </mat-sidenav-content>
                    </mat-sidenav-container>
                </div>

            </div>
            <div class="subintro-div">
                <div class="intro-discription-div">
                    <div class="intro-discription-about-div">
                        <h1 class="intro-discription-about-title">
                            {{publicservice.Texts.Texts["home1"]}}</h1>
                        <p class="intro-discription-about-subtitle">
                            {{publicservice.Texts.Texts["home2"]}}</p>
                        <p class="intro-discription-about-discription">
                            {{publicservice.Texts.Texts["home3"]}}</p>
                    </div>
                    <div class="intro-discription-bubble">
                    </div>
                </div>
                <div class="intro-image-div">
                    <img class="intro-image" src="assets/svg/dark-3d-bulb.svg">
                </div>
            </div>
            <div class="event-about-div">
                <div class="event-about-right-div">
                    <div class="timer-div">
                        <p class="numbers">{{getSecond()}}</p>
                        <p class="dots"> : </p>
                        <p class="numbers">{{getMinute()}}</p>
                        <p class="dots"> : </p>
                        <p class="numbers">
                            {{getHour()}}
                        </p>
                    </div>
                    <p class="event-about-right-text">
                        {{publicservice.Texts.Texts["home5"]}}
                    </p>
                </div>
                <div class="event-about-left-div">
                    <div>
                        <p class="event-about-left-number">
                            {{publicservice.Texts.Texts["home6"]}}
                        </p>
                    </div>
                    <div>
                        <p class="event-about-left-text">
                            {{publicservice.Texts.Texts["home7"]}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img id="schedule" #schedule class="purple-wave-under-intro" src="assets/svg/wave-purple.svg">
        </div>
        <div class="event-schedule-div">
            <div class="event-schedule-title-div">
                <h1 class="event-schedule-title">
                    {{publicservice.Texts.Texts["home8"]}}</h1>
            </div>
            <div class="event-schedule-whole">
                <div class="event-schedule-schematic">
                    <div class="event-schedule">
                        <div class="schedule-right-div" style="padding-right:10%">
                            <div class="image" style="margin-top: 0;">
                                <img class="schedule-image" src="assets/svg/timline-1.svg">
                            </div>
                            <div class="text" style="padding-top: 80%;">
                                <h1 class="text-title">
                                    {{publicservice.Texts.Texts["home49"]}}</h1>
                                <h1 class="text-subtitle2">
                                    {{publicservice.Texts.Texts["home50"]}}
                                </h1>
                            </div>
                            <div class="image" style="padding-top: 90%;">
                                <img class="schedule-image" src="assets/svg/timline-3.svg">
                            </div>
                            <div class="text" style="padding-top: 90%;">
                                <h1 class="text-title">
                                    {{publicservice.Texts.Texts["home53"]}}</h1>
                                <h1 class="text-subtitle2">
                                    {{publicservice.Texts.Texts["home54"]}}
                                </h1>
                            </div>

                            <div class="image" style="padding-top: 80%;">
                                <img class="schedule-image" src="assets/svg/timline-5.svg">
                            </div>
                            <div class="text" style="padding-top: 90%;">
                                <h1 class="text-title">
                                    {{publicservice.Texts.Texts["home13"]}}</h1>
                                <h1 class="text-subtitle2">
                                    {{publicservice.Texts.Texts["home14"]}}
                                </h1>
                            </div>
                        </div>
                        <div class="schedule-middle-div" style="padding-right: 2%;">
                            <div class="Ellipse">
                            </div>
                            <div class="Line">
                            </div>
                            <div class="Ellipse">
                            </div>
                            <div class="Line">
                            </div>
                            <div class="Ellipse">
                            </div>
                            <div class="Line">
                            </div>
                            <div class="Ellipse">
                            </div>
                            <div class="Line">
                            </div>
                            <div class="Ellipse">
                            </div>
                            <div class="Line">
                            </div>
                            <div class="Ellipse">
                            </div>
                        </div>
                        <div class="schedule-left-div">
                            <div class="text" style="margin-left: 20%;">
                                <h1 class="text-title">
                                    {{publicservice.Texts.Texts["home9"]}}</h1>
                                <h1 class="text-subtitle2">
                                    {{publicservice.Texts.Texts["home10"]}}
                                </h1>
                            </div>
                            <div class="image" style="padding-top: 50%;">
                                <img class="schedule-image" src="assets/svg/timline-2.svg">
                            </div>
                            <div class="text" style="padding-top: 70%;margin-left: 25%;">
                                <h1 class="text-title">
                                    {{publicservice.Texts.Texts["home51"]}}
                                </h1>
                                <h1 class="text-subtitle3">
                                    {{publicservice.Texts.Texts["home52"]}}
                                </h1>
                            </div>
                            <div class="image" style="padding-top: 50%;">
                                <img class="schedule-image" src="assets/svg/timline-4.svg">
                            </div>
                            <div class="text" style="padding-top: 50%;">
                                <div style="display: flex;width: 100%;">
                                    <div style="padding-left:10px;">
                                        <h1 class="text-title">
                                            {{publicservice.Texts.Texts["home11"]}}
                                        </h1>
                                        <h1 class="text-subtitle3">
                                            {{publicservice.Texts.Texts["home12"]}}
                                        </h1>
                                    </div>
                                    <div style="text-align: center;margin: auto 0;">
                                        <button mat-flat-button (click)="Rules()"
                                            class="green-button">{{publicservice.Texts.Texts["home48"]}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="image" style="padding-top: 50%;">
                                <img class="schedule-image" src="assets/svg/timline-6.svg">
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-phone">
                        <div class="schedule-middle-div">
                            <div class="Ellipse">
                            </div>
                            <div class="Line">
                            </div>
                            <div class="Ellipse">
                            </div>
                            <div class="Line">
                            </div>
                            <div class="Ellipse">
                            </div>
                            <div class="Line">
                            </div>
                            <div class="Ellipse">
                            </div>
                            <div class="Line">
                            </div>
                            <div class="Ellipse">
                            </div>
                            <div class="Line">
                            </div>
                            <div class="Ellipse">
                            </div>
                        </div>
                        <div class="middle-div-phone">
                            <div class="text" style="padding-top: 20px;">
                                <h1 class="text-title">
                                    {{publicservice.Texts.Texts["home9"]}}</h1>
                                <h1 class="text-subtitle">
                                    {{publicservice.Texts.Texts["home10"]}}
                                </h1>
                            </div>
                            <div class="image">
                                <img class="schedule-image" src="assets/svg/timline-1.svg">
                            </div>
                            <div class="text" style="padding-top: 0;margin-top: 0;">
                                <h1 class="text-title" style="margin-top: 0;">
                                    {{publicservice.Texts.Texts["home49"]}}
                                </h1>
                                <h1 class="text-subtitle">
                                    {{publicservice.Texts.Texts["home50"]}}
                                </h1>
                            </div>
                            <div class="image">
                                <img class="schedule-image" src="assets/svg/timline-2.svg">
                            </div>
                            <div class="text" style="margin-top: 0;">
                                <h1 class="text-title" style="margin-top: 0;">
                                    {{publicservice.Texts.Texts["home51"]}}
                                </h1>
                                <h1 class="text-subtitle">
                                    {{publicservice.Texts.Texts["home52"]}}
                                </h1>
                            </div>
                            <div class="image">
                                <img class="schedule-image" src="assets/svg/timline-3.svg">
                            </div>
                            <div class="text" style="margin-top: 0;">
                                <h1 class="text-title" style="margin-top: 0;">
                                    {{publicservice.Texts.Texts["home53"]}}
                                </h1>
                                <h1 class="text-subtitle">
                                    {{publicservice.Texts.Texts["home54"]}}
                                </h1>
                            </div>
                            <div class="image">
                                <img class="schedule-image" src="assets/svg/timline-4.svg">
                            </div>
                            <div class="text" style="margin-top: 0;">
                                <div style="display: flex;padding-right: 25%;width: 100%;">
                                    <div style="padding-left:10px;">
                                        <h1 class="text-title" style="margin-top: 0;">
                                            {{publicservice.Texts.Texts["home11"]}}
                                        </h1>
                                        <h1 class="text-subtitle">
                                            {{publicservice.Texts.Texts["home12"]}}
                                        </h1>
                                    </div>
                                    <div style="text-align: center;margin: auto 0;">
                                        <button mat-flat-button (click)="Rules()"
                                            class="green-button">{{publicservice.Texts.Texts["home48"]}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <img class="schedule-image" src="assets/svg/timline-5.svg">
                            </div>
                            <div class="text" style="margin-top: 0;">
                                <h1 class="text-title" style="margin-top: 0;">
                                    {{publicservice.Texts.Texts["home13"]}}
                                </h1>
                                <h1 class="text-subtitle">
                                    {{publicservice.Texts.Texts["home14"]}}
                                </h1>
                            </div>
                            <div class="image">
                                <img class="schedule-image" src="assets/svg/timline-6.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>

            <!-- <div class="light-putple-rectangle"></div> -->
            <div class="prizes" style="padding-bottom: 0;">
                <div>
                    <img class="light-purple-wave" src="assets/svg/wave-purple-light.svg">
                </div>
                <div class="inner-prizes">
                    <div class="prizes-title">
                        <h1 style="margin-top: 0;">{{publicservice.Texts.Texts["home43"]}}</h1>
                    </div>
                    <div class="prize-cards-whole-div">
                        <div class="prize-cards-inner-div">
                            <div class="prize-cards">
                                <div class="prize-card-image-div">
                                    <img class="prize-card-image" src="assets/svg/prize-1.svg">
                                </div>
                                <!-- <div style="padding-top: 20%;"> -->
                                <h2 class="prize-card-title">{{publicservice.Texts.Texts["home45"]}}</h2>
                                <h3 class="prize-card-discription">{{publicservice.Texts.Texts["home46"]}}</h3>
                                <!-- </div> -->
                            </div>
                            <div class="prize-cards">
                                <div class="prize-card-image-div">
                                    <img class="prize-card-image" src="assets/svg/prize-2.svg">
                                </div>
                                <!-- <div style="padding-top: 20%;width: 100%;"> -->
                                <h2 class="prize-card-title" style="width: 100%;">
                                    {{publicservice.Texts.Texts["home55"]}}</h2>
                                <h3 class="prize-card-discription" style="width: 100%;">
                                    {{publicservice.Texts.Texts["home60"]}}</h3>
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="prize-cards-inner-div">
                            <div class="prize-cards">
                                <div class="prize-card-image-div" style="justify-content: center;">
                                    <img class="prize-card-image" src="assets/svg/prize-3.svg">
                                </div>
                                <!-- <div style="padding-top: 20%;"> -->
                                <h2 class="prize-card-title">{{publicservice.Texts.Texts["home56"]}}</h2>
                                <h3 class="prize-card-discription">{{publicservice.Texts.Texts["home61"]}}</h3>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="whole-workshop" #workshop id="workshop">

            <!-- <div class="green-rectangle-under-workshops">
        </div> -->

            <div class="workshops-background">
                <div style="margin-bottom: -1%;">
                    <img class="green-wave-above-wrokshops" src="assets/svg/wave-green.svg">
                </div>
                <div style="background-color: #4ae5b0;padding-bottom: 30px;">
                    <h1 class="collapse-header">
                        {{publicservice.Texts.Texts["home15"]}}</h1>
                    <div *ngFor="let workshop of workshopsArray;let i = index" class="workshops-whole-collapse">
                        <div class="orange-collapse">
                        </div>
                        <div style="width: 100%;">
                            <div class="components-collapse">
                                <h3 class="collapse-title">
                                    {{workshop.title}}</h3>
                                <h4 class="collapse-subject">
                                    {{workshopsDate[i]}}</h4>
                                <h4 class="collapse-subject">
                                    {{workshop.capacity}} {{publicservice.Texts.Texts["home18"]}}</h4>
                                <h4 class="collapse-subject">
                                    {{workshopsLevel[i]}}</h4>
                                <div class="register-button-div">
                                    <button mat-stroked-button
                                        class="register-button">{{publicservice.Texts.Texts["home20"]}}</button>
                                </div>
                                <button mat-button class="collapse"
                                    (click)="workshopsActive[i] =(workshopsActive[i] == 'active' ? 'deactive' : 'active');iconW[i] = (iconW[i] == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') ">{{publicservice.Texts.Texts["home21"]}}
                                    <mat-icon class="collapse-icon" [inline]="true">{{iconW[i]}}</mat-icon>
                                </button>
                            </div>
                            <div [class]="workshopsActive[i]">
                                <div class="collapse-background">
                                    <div>
                                        <p class="collapse-about">
                                            {{workshop.content}}</p>
                                    </div>
                                    <div class="collapse-cost-div">
                                        <h3 class="collapse-cost">
                                            {{publicservice.Texts.Texts['home57']}}{{workshop.cost}}{{publicservice.Texts.Texts['home58']}}
                                        </h3>
                                    </div>
                                    <div class="collapse-presenters-title-div">
                                        <h1 class="collapse-persenters-title">
                                            {{publicservice.Texts.Texts["home23"]}}
                                        </h1>
                                    </div>
                                    <div class="collapse-presenters-card-div">
                                        <div class="collapse-presenters-card"
                                            *ngFor="let presenter of workshop.presenters">
                                            <div>
                                                <img class="collapse-presenters-image" src="assets/images/masoud.jpg">
                                            </div>
                                            <h2 class="collapse-presenters-name">
                                                {{presenter.first_name}} {{presenter.last_name}}
                                            </h2>
                                            <h4 class="collapse-presenters-discription">
                                                {{presenter.descriptions}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="whole-workshop-phone" #workshop id="workshop">
            <div class="workshops-background" style="padding-top: 10px;margin-top: -1%;">
                <div>
                    <img class="green-wave-above-wrokshops" src="assets/svg/wave-green.svg">
                </div>
                <h1 class="collapse-header"
                    style="background-color: #4ae5b0;padding: 5% 0 0 0;margin-top: -10px;margin-bottom: 0;">
                    {{publicservice.Texts.Texts["home15"]}}</h1>
                <div style="background-color: #4ae5b0;padding: 20px 0;">
                    <div *ngFor="let workshop of workshopsArray;let i = index" class="workshops-whole-collapse">
                        <div style="width: 100%;">
                            <div class="components-collapse">
                                <div style="display: flex;">
                                    <div class="orange-collapse">
                                    </div>
                                    <h3 class="collapse-title">
                                        {{workshop.title}}</h3>
                                </div>
                                <div class="register-button-div">
                                    <button mat-stroked-button
                                        class="register-button">{{publicservice.Texts.Texts["home20"]}}</button>
                                </div>
                            </div>
                            <div
                                style="background-color: #fafafa;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;">
                                <div class="collapse-discription-div">
                                    <h4 class="collapse-subject">
                                        {{workshopsDate[i]}}</h4>
                                    <div class="collapse-discription-inner-div">
                                        <h4 class="collapse-subject" style="padding-left: 30px;">
                                            {{workshop.capacity}} {{publicservice.Texts.Texts["home18"]}}</h4>
                                        <h4 class="collapse-subject">
                                            {{workshopsLevel[i]}}</h4>
                                    </div>
                                </div>
                                <div class="collapse-button">
                                    <button mat-button class="collapse"
                                        (click)="workshopsActive[i] =(workshopsActive[i] == 'active' ? 'deactive' : 'active');iconW[i] = (iconW[i] == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') ">{{publicservice.Texts.Texts["home21"]}}
                                        <mat-icon class="collapse-icon" [inline]="true">{{iconW[i]}}</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div [class]="workshopsActive[i]">
                                <div class="collapse-background">
                                    <div>
                                        <p class="collapse-about">
                                            {{workshop.content}}</p>
                                    </div>
                                    <h3 class="collapse-cost">
                                        {{publicservice.Texts.Texts['home57']}}{{workshop.cost}}{{publicservice.Texts.Texts['home58']}}
                                    </h3>
                                    <div class="collapse-presenters-title-div">
                                        <h1 class="collapse-persenters-title">
                                            {{publicservice.Texts.Texts["home23"]}}
                                        </h1>
                                    </div>
                                    <div class="collapse-presenters-card-div">
                                        <div class="collapse-presenters-card"
                                            *ngFor="let presenter of workshop.presenters">
                                            <div>
                                                <img class="collapse-presenters-image" src="assets/images/masoud.jpg">
                                            </div>
                                            <h2 class="collapse-presenters-name">
                                                {{presenter.first_name}} {{presenter.last_name}}
                                            </h2>
                                            <h4 class="collapse-presenters-discription">
                                                {{presenter.descriptions}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img #talk id="talk" class="green-wave-under-workshops" src="assets/svg/wave-green.svg">
        </div>
        <div class="talks-title-div">
            <h1 class="talks-title">
                {{publicservice.Texts.Texts["home26"]}}</h1>
        </div>
        <div class="talks-background">
            <div *ngFor="let talk of talksArray; let i = index" class="workshops-whole-collapse">
                <div class="pink-collapse">
                </div>
                <div style="width: 100%;">
                    <div class="components-collapse">
                        <h3 class="collapse-title">
                            {{talk.title}}</h3>
                        <h4 class="collapse-subject">
                            {{talksDate[i]}}</h4>
                        <h4 class="collapse-subject">
                            {{talk.capacity}} {{publicservice.Texts.Texts["home29"]}}</h4>
                        <h4 class="collapse-subject">
                            {{talksLevel[i]}}</h4>
                        <div class="register-button-div">
                            <button mat-stroked-button
                                class="register-button">{{publicservice.Texts.Texts["home31"]}}</button>
                        </div>
                        <button mat-button class="collapse"
                            (click)="talksActive[i] = (talksActive[i] == 'active' ? 'deactive' : 'active') ;iconT[i] = (iconT[i] == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') ">{{publicservice.Texts.Texts["home32"]}}
                            <mat-icon class="collapse-icon" [inline]="true">{{iconT[i]}}</mat-icon>
                        </button>
                    </div>
                    <div [class]="talksActive[i]">
                        <div class="collapse-background">
                            <div>
                                <p class="collapse-about">
                                    {{talk.content}}</p>
                            </div>
                            <h3 class="collapse-cost">
                                {{publicservice.Texts.Texts['home59']}}
                            </h3>
                            <div class="collapse-presenters-title-div">
                                <h1 class="collapse-persenters-title">
                                    {{publicservice.Texts.Texts["home34"]}}
                                </h1>
                            </div>
                            <div class="collapse-presenters-card-div">
                                <div class="collapse-presenters-card" *ngFor="let presenter of talk.presenters">
                                    <div>
                                        <img class="collapse-presenters-image" src="assets/images/masoud.jpg">
                                    </div>
                                    <h2 class="collapse-presenters-name">
                                        {{presenter.first_name}} {{presenter.last_name}}
                                    </h2>
                                    <h4 class="collapse-presenters-discription">
                                        {{presenter.descriptions}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="talks-background-phone" style="padding-bottom: 50px;">
            <div *ngFor="let talk of talksArray; let i = index" class="workshops-whole-collapse">
                <div style="width: 100%;">
                    <div class="components-collapse">
                        <div style="display: flex;">
                            <div class="pink-collapse">
                            </div>
                            <h3 class="collapse-title">
                                {{talk.title}}</h3>
                        </div>
                        <div class="register-button-div">
                            <button mat-stroked-button
                                class="register-button">{{publicservice.Texts.Texts["home31"]}}</button>
                        </div>
                    </div>
                    <div
                        style="background-color: #fafafa;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;">
                        <div
                            style="display: flex;justify-content: space-between;padding-right: 20px;padding-left: 20px;">
                            <h4 class="collapse-subject">
                                {{talksDate[i]}}</h4>
                            <div style="display: flex;">
                                <h4 class="collapse-subject" style="padding-left: 30px;">
                                    {{talk.capacity}} {{publicservice.Texts.Texts["home29"]}}</h4>
                                <h4 class="collapse-subject">
                                    {{talksLevel[i]}}</h4>
                            </div>
                        </div>
                        <button mat-button class="collapse"
                            (click)="talksActive[i] = (talksActive[i] == 'active' ? 'deactive' : 'active') ;iconT[i] = (iconT[i] == 'keyboard_arrow_down' ? 'keyboard_arrow_up' : 'keyboard_arrow_down') ">{{publicservice.Texts.Texts["home32"]}}
                            <mat-icon class="collapse-icon" [inline]="true">{{iconT[i]}}</mat-icon>
                        </button>
                    </div>
                    <div [class]="talksActive[i]">
                        <div class="collapse-background">
                            <div>
                                <p class="collapse-about">
                                    {{talk.content}}</p>
                            </div>
                            <h3 class="collapse-cost">
                                {{publicservice.Texts.Texts['home59']}}
                            </h3>
                            <div class="collapse-presenters-title-div">
                                <h1 class="collapse-persenters-title">
                                    {{publicservice.Texts.Texts["home34"]}}
                                </h1>
                            </div>
                            <div class="collapse-presenters-card-div">
                                <div class="collapse-presenters-card" *ngFor="let presenter of talk.presenters">
                                    <div>
                                        <img class="collapse-presenters-image" src="assets/images/masoud.jpg">
                                    </div>
                                    <h2 class="collapse-presenters-name">
                                        {{presenter.first_name}} {{presenter.last_name}}
                                    </h2>
                                    <h4 class="collapse-presenters-discription">
                                        {{presenter.descriptions}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rectangle-under-talks-div"></div>
        <div class="footer-whole-div" #footer id="footer">
            <div>
                <img class="purple-wave-above-footer" src="assets/svg/wave-purple.svg">
            </div>
            <div class="footer-div">
                <div class="discription-footer-div">
                    <div class="discription-right-footer-div">
                        <div class="discription-right-footer-about-div">
                            <h1 class="discription-right-footer-about-title">
                                {{publicservice.Texts.Texts["home37"]}}</h1>
                            <h3 class="discription-right-footer-about-subtitle">
                                {{publicservice.Texts.Texts["home38"]}}</h3>
                            <p class="discription-right-footer-about-discription">
                                {{publicservice.Texts.Texts["home39"]}}</p>
                            <div style="text-align: center;">
                                <button mat-flat-button (click)="People()"
                                    class="green-button">{{publicservice.Texts.Texts["home47"]}}</button>
                            </div>
                        </div>
                        <div class="discription-right-footer-bubble">
                        </div>
                    </div>
                    <div class="footer-image-div">
                        <img class="footer-image" src="assets/images/masoud.jpg">
                    </div>
                </div>
                <div>
                    <h1 class="supporters-title">
                        {{publicservice.Texts.Texts["home40"]}}
                    </h1>
                </div>
                <div class="supporters-card-div">
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/quiz of kings.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/avngames.png">
                    </div>
                    <div class="supportes-card-image-div">
                        <img class="supporters-card-image" src="assets/images/tod.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="developers-div">
            <p class="developers">{{publicservice.Texts.Texts["home42"]}}</p>
        </div>
    </div>
</div>