<div style="width:100%;overflow: hidden;">
    <div class="home" id="home" #home>
        <div class="intro">

            <div class="header">
                <div class="whole-header" [class]="getNavClass()">
                    <div class="big-right-header">
                        <div class="title-div">
                            <div class="logo">
                                <img class="logo-image" src="assets/svg/dark-3d.svg">
                            </div>
                        </div>
                        <!-- <div class="header-line">  
                        </div> -->
                        <div class="right-header">
                            <div class="right-button">
                                <button mat-button class="normal-button">
                                    <a style="color:white; text-decoration:none;" target="_blank"
                                        rel="noopener noreferrer" href="https://gamecraft.ce.aut.ac.ir/2021">
                                        رویداد گیم‌کرفت ۲۰۲۱
                                    </a>
                                </button>
                            </div>
                            <div style="border-left: 3px solid white; margin: 4px 0; margin-right: 20px;"></div>

                            <div class="right-button">
                                <button mat-button class="normal-button">
                                    <a style="color:white; text-decoration:none; display: flex; align-items:center;" target="_blank"
                                        rel="noopener noreferrer" href="https://twitter.com/autgamecraft">
                                        توییتر گیم‌کرفت
                                        <span style="font-size: 30px; margin-right:5px; color: #00acee;" class="iconify" data-icon="mdi:twitter"></span>
                                    </a>
                                </button>
                            </div>
                            <div style="border-left: 3px solid white; margin: 4px 0; margin-right: 20px;"></div>
                            <div class="right-button">
                                <button mat-button class="normal-button">
                                    <a style="color:white; text-decoration:none; display: flex; align-items:center;" target="_blank"
                                        rel="noopener noreferrer" href="https://telegram.me/autgamecraft">
                                        تلگرام گیم‌کرفت
                                        <span style="font-size: 30px; margin-right:5px; color: #229ED9;" class="iconify" data-icon="mdi:telegram"></span>
                                    </a>
                                </button>
                            </div>
                            <div style="border-left: 3px solid white; margin: 4px 0; margin-right: 20px;"></div>

                            <div class="right-button">
                                <button mat-button class="normal-button">
                                    <a style="color:white; text-decoration:none; display: flex; align-items:center;" target="_blank"
                                        rel="noopener noreferrer" href="https://instagram.com/autgamecraft">
                                        اینستاگرام‌ گیم‌کرفت
                                        <span style="font-size: 30px; margin-right:5px; color: #DD2A7B;" class="iconify" data-icon="mdi:instagram"></span>
                                    </a>
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="whole-header-phone">
                    <button mat-button (click)=" onPress();icon =(icon == 'menu' ? 'close' : 'menu')">
                        <mat-icon style="color: white;font-size: 32px;" [inline]="true">{{icon}}</mat-icon>
                    </button>
                    <div class="logo" (click)="Home()">
                        <img class="logo-image" src="assets/svg/dark-3d.svg">
                    </div>

                </div>
                <div *ngIf="display">
                    <mat-sidenav-container class="example-sidenav-container">
                        <!-- <mat-sidenav #snav >
                      
                    </mat-sidenav> -->

                        <mat-sidenav-content class="side-route">
                            <!-- <mat-divider class="side-divider"></mat-divider> -->
                          

                            <mat-divider class="side-divider"></mat-divider>
                            <div class="side-button">

                            <button mat-button class="normal-button">
                                <a style="color:white; text-decoration:none;" target="_blank" rel="noopener noreferrer"
                                    href="https://gamecraft.ce.aut.ac.ir/2021">
                                    رویداد گیم‌کرفت ۲۰۲۱
                                </a>
                            </button>
                            </div>
                            <mat-divider class="side-divider"></mat-divider>

                            <div class="side-button">

                            <button mat-button class="normal-button">
                                <a style="color:white; text-decoration:none; display: flex; align-items:center;"
                                    target="_blank" rel="noopener noreferrer" href="https://twitter.com/autgamecraft">
                                    توییتر گیم‌کرفت
                                    <span style="font-size: 30px; margin-right:5px; color: #00acee;" class="iconify"
                                        data-icon="mdi:twitter"></span>
                                </a>
                            </button>
                            </div>
                            <mat-divider class="side-divider"></mat-divider>
                            <div class="side-button">

                            <button mat-button class="normal-button">
                                <a style="color:white; text-decoration:none; display: flex; align-items:center;"
                                    target="_blank" rel="noopener noreferrer" href="https://telegram.me/autgamecraft">
                                    تلگرام گیم‌کرفت
                                    <span style="font-size: 30px; margin-right:5px; color: #229ED9;" class="iconify"
                                        data-icon="mdi:telegram"></span>
                                </a>
                            </button>
                            </div>
                            <mat-divider class="side-divider"></mat-divider>
                            <div class="side-button">

                            <button mat-button class="normal-button">
                                <a style="color:white; text-decoration:none; display: flex; align-items:center;"
                                    target="_blank" rel="noopener noreferrer" href="https://instagram.com/autgamecraft">
                                    اینستاگرام‌ گیم‌کرفت
                                    <span style="font-size: 30px; margin-right:5px; color: #DD2A7B;" class="iconify"
                                        data-icon="mdi:instagram"></span>
                                </a>
                            </button>
                            </div>
                            <mat-divider class="side-divider"></mat-divider>
                        </mat-sidenav-content>
                    </mat-sidenav-container>
                </div>


            </div>
        </div>
        <div class="coming-soon-poster">
            <img src="assets/images/coming_soon_poster.jpg" style="width:100vw;">
        </div>
        <div class="developers-div">
            <div class="developers-image">
                <img class="ssc-image" src="assets/images/Asset 4.png">
                <img class="ssc-image" src="assets/images/ssc_white.png">
            </div>
            <p class="developers">{{publicservice.Texts.Texts["home42"]}}</p>
        </div>
    </div>
</div>