<div style="background-image: url('assets/images/whole background.png');background-repeat: no-repeat;background-size: cover;">
<div style="direction: rtl;display: flex;margin-top: 5%;justify-content: center;">
    <div
        style="background-image: url('assets/images/back image.png');background-repeat: no-repeat;background-size: cover;width: 30%;margin-right: 10%;margin-left: 5%;padding-right: 7%;">
        <h1 style="font-size: xxx-large;font-family: 'Lalezar-Regular';color: #07f49e;">گیم</h1>
        <p style="font-size: x-large;font-family: 'Lalezar-Regular';color: #77009b;">نهمین رویداد بزرگ بازی سازی
            در
            خاورمیانه</p>
        <p style="font-family: 'B KoodakBold';font-size: x-large;color: #a04db9;">این رویداد در مادر دانشگاه های
            صنعتی کشور برگذار می شود و خیلی نایس است</p>
    </div>
    <div style="padding: 200px;background-color: #ff9b21;border-radius: 100%;margin-left: 10%;"></div>
</div>
<div style="direction: rtl;display: flex;justify-content: space-evenly;">
    <div style="text-align: center;">
        <p style="font-size: xxx-large;font-family: 'B KoodakBold';color: #a04db9;margin-bottom: 0;">7:23:59:2
        </p>
        <p style="font-size: xx-large;font-family: 'Lalezar-Regular';color: #77009b;margin-top: 0;">تا شروع
            رویداد
        </p>
    </div>
    <div style="text-align: center;">
        <div>
            <p style="font-size: xxx-large;font-family: 'B KoodakBold';color: #a04db9;margin-bottom: 0;">2289
            </p>
        </div>
        <div>
            <p style="font-size: xx-large;font-family: 'Lalezar-Regular';color: #77009b;margin-top: 0;">شرکت
                کننده
            </p>
        </div>
    </div>
</div>
<div style="direction: rtl;text-align: center;">
    <div style="text-align: center;margin-top: 10%;">
        <h1 style="font-family: 'Lalezar-Regular';font-size: xxx-large;color: #77009b;">برنامه زمانی</h1>
    </div>
    <div style="display: flex;justify-content: space-evenly;text-align: center;">
        <div style="padding: 120px;background-color: #ff9b21;border-radius: 100%;"></div>
        <div style="text-align: center;position: absolute;margin-top: 7%;">
            <img src="assets/images/whole circles.png">
        </div>
        <div style="margin-top: 2%;margin-left: 5%;">
            <h1 style="font-family: 'B KoodakBold';font-size: xxx-large;color: #77009b;margin-bottom: 0;">ثبت
                نام</h1>
            <h1 style="font-family: 'B KoodakBold';font-size: xx-large;color: #a04db9;margin-top: 0;">1 بهمن 99
            </h1>
        </div>
    </div>
    <div style="display: flex;justify-content: space-evenly;text-align: center;margin-top: 15%;">
        <div style="margin-top: 2%;margin-right: 5%;">
            <h1 style="font-family: 'B KoodakBold';font-size: xxx-large;color: #77009b;margin-bottom: 0;">مسابقه
            </h1>
            <h1 style="font-family: 'B KoodakBold';font-size: xx-large;color:#a04db9;margin-top: 0;">11 بهمن 99
            </h1>
        </div>
        <div style="padding: 120px;background-color: #ff9b21;border-radius: 100%;"></div>
    </div>
    <div style="display: flex;justify-content: space-evenly;text-align: center;margin-top: 15%;">
        <div style="padding: 120px;background-color: #ff9b21;border-radius: 100%;"></div>
        <div style="margin-top: 2%;margin-left: 5%;">
            <h1 style="font-family: 'B KoodakBold';font-size: xxx-large;color: #77009b;margin-bottom: 0;">داوری
            </h1>
            <h1 style="font-family: 'B KoodakBold';font-size: xx-large;color: #a04db9;margin-top: 0;">21 بهمن 99
            </h1>
        </div>
    </div>
</div>
</div>
