.example-card {
  //max-width: 500px;
  margin-bottom: 8px;
  background-color: #63619B;
  font-family: "Estedad-Regular", sans-serif;
  font-size: medium;
  color: #E8E7FF;
}

.golden-icon {
  color: #FFD700;
}

.gray-icon {
  color: #909090;
}

.user-image {
  border-radius: 800px;
}
